/* ==========================================================================
   Insert Your Custom Styles Below. All styles located in this file will
   override existing main.css stylesheets.
   ========================================================================== */ 


#sl-overlay {
  position:absolute;
  top:0px;
  z-index: 1;
  background-color: rgba(0,0,0,0.45);
  width:100%;
}

.sl-news-article {

}