/* 
    Document   : streamlyne
    Created on : 17-Jun-2013, 9:28:04 PM
    Author     : dawson
    Description:
        Custom style sheet for Streamlyne.
*/

root { 
  display: block;
}

body {
  background-color: #1a1a1a;
  height:1200px;
}

#sl-navbar {
  margin-top: 15px;
}

#sl-background {
  position: fixed;
  z-index: -1;
  width:100%;
}

#product {
  background-color: rgba(238,238,238,0.7);
}

#team {
  background-color: rgba(238,238,238,0.7);
}

#contact {
  background-color: rgba(238,238,238,0.7);
  padding: 10px;
  height:100px;
}

div.sl-avatar {

}

li.sl-avatar {
  width:260px;
}

img.sl-avatar {
  width: 260px;
  height:200px;
}

h3.sl-avatar {
  margin-left: 20px;
}