/* 
    Document   : streamlyne
    Created on : 17-Jun-2013, 9:28:04 PM
    Author     : dawson
    Description:
        Custom style sheet for Streamlyne.
*/

root { 
  display: block;
}

body {
  background-color: #1a1a1a;
}

#sl-background {
  position: fixed;
  z-index: -1;
  width:100%;
}

div.sl-avatar {
  background-color: #eeeeee;
}

img.sl-avatar {
  width: 260px;
  height:200px;
}

h3.sl-avatar {
  margin-left: 20px;
}