// About
extends basic-layout

block head
  title About | Streamlyne Technologies

block content
  // Content
  section#content1
    .container
      .row
        .span7
          h3 About
          p.lead See who we are
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          br
          .margin-30
            a.btn-main(href='contact.php')
              i.icon-chevron-right
              | Contact Us
        .span5
          iframe(src='http://player.vimeo.com/video/65902068?title=0&byline=0&portrait=0&color=ff755a', width='100%', height='350', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
  // Message Section
  section#message
    .container
      .row.margin-40
        .span12.text-center
          h2
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua.
  // Content
  section#content2
    .container
      .row
        .span6.margin-30
          //
            First Column - To change progress value make sure to adjust bar width and field value to the same amount
          h3 Our Skills
          #progress.display-none
            .progress-bar.bar-one
              .progress
                span.field Concepts
                span.field-value.fade-in 60%
                .bar(style='width: 60%;')
            .progress-bar.bar-two
              .progress
                span.field Design
                span.field-value.fade-in 75%
                .bar(style='width: 75%;')
            .progress-bar.bar-three
              .progress
                span.field Awesome!
                span.field-value.fade-in 100%
                .bar(style='width: 100%;')
          //
            End Progress Container
        .span5.offset1.margin-30
          h3 Company Stats
          //
            Stat
          .row-fluid.stat
            .span2
              i.icon-coffee.icon-3x.light-gray
            .span10
              h4 108 Monthly Cups of Coffee
          //
            Stat
          .row-fluid.stat
            .span2
              i.icon-group.icon-3x.light-gray
            .span10
              h4 Over 300 Happy Clients since 2011
          //
            Stat
          .row-fluid.stat
            .span2
              i.icon-headphones.icon-3x.light-gray
            .span10
              h4 Over 11,000 Songs In Our Library
      // End Row
  
  include twitterSection
