doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    
    meta(name='keywords', content='made with bootstrap, wrap bootstrap themes, bootstrap agency themes, creative bootstrap sites, Lava theme, responsive bootstrap theme, mobile website themes, bootstrap portfolio, theme armada')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    meta(property='og:title', content='Lava | Designed By Theme Armada')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://www.themearmada.com/demos/lava')
    meta(property='og:site_name', content='Theme Armada')
    meta(property='og:description', content='made with bootstrap, wrap bootstrap themes, bootstrap agency themes, creative bootstrap sites, Lava theme, responsive bootstrap theme, mobile website themes, bootstrap portfolio, theme armada')
    
    // Styles 
    link(rel='stylesheet', href='css/font-awesome.min.css')
    //-link(rel='stylesheet', href='bower/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='css/animate.css')
    //-link(rel='stylesheet', href='bower/animate.css/animate.min.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='css/custom-styles.css')
    script(src='js/modernizr-2.6.2-respond-1.1.0.min.js')
    //-script(src='bower/modernizr/modernizr.js')

    // Fav and touch icons 
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/favicon.png')

    block head

  body
    
    include navbar

    block content

    include footer

    include commonScripts
    block script
