// Blog
extends basic-layout

block head
  title Home | Streamlyne Technologies

block content
  //
    Content
  section#page-title
    .container
      .row
        .span12.text-center
          h3 Blog
  //
    Content
  section#content2
    .container
      .row
        //
          Column One
        .span8
          //
            Blog Post
          article.blog-post.margin-60
            .date-container
              | May 
              span.day 28
            img(src='img/pic1.jpg', alt='Title')
            h3 Title Will Go Here
            p
              | Created by 
              strong
                em Company Name
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            br
            a.btn-main(href='blog-article.html')
              i.icon-chevron-right
              | More
          //
            Blog Post
          article.blog-post.margin-60
            .date-container
              | Apr 
              span.day 18
            img(src='img/pic2.jpg', alt='Title')
            h3 Title Will Go Here
            p
              | Created by 
              strong
                em Company Name
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            br
            a.btn-main(href='blog-article.html')
              i.icon-chevron-right
              | More
          //
            Blog Post
          article.blog-post.margin-60
            .date-container
              | Apr 
              span.day 04
            img(src='img/pic3.jpg', alt='Title')
            h3 Title Will Go Here
            p
              | Created by 
              strong
                em Company Name
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            br
            a.btn-main(href='blog-article.html')
              i.icon-chevron-right
              | More
        //
          End Column One
        //
          Side Bar
        .span4
          form.margin-20
            input.input-block-level(type='text', placeholder='Search')
          br
          h3 Side Bar
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          br
          h3 Section Title
          ul.unstyled.side-links
            li
              a(href='#') Link Here
            li
              a(href='#') Link Here
            li
              a(href='#') Link Here
      //
        End Row
      .row
        .span12.text-left
          .pagination
            ul
              li.active
                a(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
