!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Lava | Designed By Theme Armada
    meta(name='keywords', content='made with bootstrap, wrap bootstrap themes, bootstrap agency themes, creative bootstrap sites, Lava theme, responsive bootstrap theme, mobile website themes, bootstrap portfolio, theme armada')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    meta(property='og:title', content='Lava | Designed By Theme Armada')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://www.themearmada.com/demos/lava')
    meta(property='og:site_name', content='Theme Armada')
    meta(property='og:description', content='made with bootstrap, wrap bootstrap themes, bootstrap agency themes, creative bootstrap sites, Lava theme, responsive bootstrap theme, mobile website themes, bootstrap portfolio, theme armada')
    //
       Styles 
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/animate.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/custom-styles.css')
    script(src='js/modernizr-2.6.2-respond-1.1.0.min.js')
    //
       Fav and touch icons 
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/favicon.png')
    script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
    script(type='text/javascript').
      stLight.options({publisher: "ur-ac683290-3911-6fb1-90a5-64dae484f7e6", doNotHash: true, doNotCopy: true, hashAddressBar: false});
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='index.html')
            img(src='img/logo.png', alt='logo')
          .nav-collapse.collapse
            ul.nav.pull-right
              li
                a(href='index.html') Home
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Pages & Features
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='full-width.html') Full Width
                  li
                    a(href='services.html') Services
                  li
                    a(href='about.html') About
                  li
                    a(href='team.html') Team
                  li
                    a(href='pricing.html') Pricing
                  li
                    a(href='blog.html') Blog Loop
                  li
                    a(href='blog-article.html') Blog Article
                  li
                    a(href='login.html') Log In
                  li
                    a(href='signup.html') Sign Up
                  li
                    a(href='icons.html') Icons
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Work
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='3-column.html') 3 Column
                  li
                    a(href='4-column.html') 4 Column
                  li
                    a(href='individual-work.html') Individual Work
              li
                a(href='blog.html') Blog
              li
                a(href='contact.php') Contact
          //
            /.nav-collapse 
    //
      Content
    section#page-title
      .container
        .row
          .span12.text-center
            h3 Blog
    //
      Content
    section#content2
      .container
        .row
          //
            Column One
          .span8
            //
              Blog Post
            article.blog-post.margin-60
              .date-container
                | May
                span.day 28
              img(src='img/pic1.jpg', alt='Title')
              h3 Title Will Go Here
              p
                | Created by
                strong
                  em Company Name
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              br
              span.st_facebook_hcount(displaytext='Facebook')
              span.st_twitter_hcount(displaytext='Tweet')
              span.st_linkedin_hcount(displaytext='LinkedIn')
              span.st_pinterest_hcount(displaytext='Pinterest')
          //
            End Column One
          //
            Side Bar
          .span4
            form.margin-20
              input.input-block-level(type='text', placeholder='Search')
            br
            h3 Side Bar
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            br
            h3 Section Title
            ul.unstyled.side-links
              li
                a(href='#') Link Here
              li
                a(href='#') Link Here
              li
                a(href='#') Link Here
        //
          End Row
    //
      Bottom Section
    section#bottom
      .container
        .row.margin-40
          .span10.offset1.text-center
            p
              | 1234 Main Street Atlanta, GA 30305 | 404.555.5555  |
              a(href='mailto:support@themearmada.com')
                i.icon-envelope-alt
                | support@themearmada.com
            hr
        .row
          .span10.offset1.text-center
            //
              Social Icons
            ul.social-icons
              li
                a.twitter(href='http://www.twitter.com/themearmada', target='_blank')
                  i.icon-twitter.icon-3x
              li
                a.facebook(href='http://www.facebook.com', target='_blank')
                  i.icon-facebook.icon-3x
              li
                a.google(href='http://www.googleplus.com', target='_blank')
                  i.icon-google-plus.icon-3x
              li
                a.instagram(href='http://www.instagram.com', target='_blank')
                  i.icon-camera-retro.icon-3x
              li
                a.pinterest(href='http://www.pinterest.com', target='_blank')
                  i.icon-pinterest.icon-3x
              li
                a.linkedin(href='http://www.linkedin.com', target='_blank')
                  i.icon-linkedin.icon-3x
              li
                a.Github(href='http://www.github.com', target='_blank')
                  i.icon-github-alt.icon-3x
    section#footer
      .container
        .row
          .span12.text-center
            p
              | @ Copyright. All Rights Reserved. Created by
              a(href='http://www.themearmada.com') Theme Armada.
    //
    //   Javascript
    //      ================================================== 
    //
       Placed at the end of the document so the pages load faster 
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\\/script>')
    script(src='js/bootstrap.min.js')
    script(src='js/main.js')
    script(src='js/rotate.js')
