// Bottom Section
section#bottom
  .container
    .row.margin-40
      .span10.offset1.text-center
        p
          | 111 Pebble Creek Crescent Suite 208, Dartmouth, N.S. B2W 0L1 | 902.210.6735 |
          a(href='mailto:info@streamlyne.co')
            i.icon-envelope-alt
            |  info@streamlyne.co
        hr
    .row
      .span10.offset1.text-center
        //
          Social Icons
        ul.social-icons
          li
            a.twitter(href='http://www.twitter.com/getstreamlyned', target='_blank')
              i.icon-twitter.icon-3x
          //
            li
              a.facebook(href='http://www.facebook.com', target='_blank')
                i.icon-facebook.icon-3x
            li
              a.google(href='http://www.googleplus.com', target='_blank')
                i.icon-google-plus.icon-3x
            li
              a.instagram(href='http://www.instagram.com', target='_blank')
                i.icon-camera-retro.icon-3x
            li
              a.pinterest(href='http://www.pinterest.com', target='_blank')
                i.icon-pinterest.icon-3x
          li
            a.linkedin(href='http://www.linkedin.com/company/3221801', target='_blank')
              i.icon-linkedin.icon-3x
          //  li
              a.Github(href='http://www.github.com', target='_blank')
                i.icon-github-alt.icon-3x
section#footer
  .container
    .row
      .span12.text-center
        p
          | @ Copyright 2013. All Rights Reserved. 
          a(href='http://streamlyne.co') Steamlyne Technologies Limited.
