// Index
extends basic-layout

block head
  title Home | Streamlyne Technologies

block content
  //
  //   Carousel
  //      Change your images in the main.css file.
  //      ================================================== 
  #header.carousel.slide.animated.fadeIn
    .carousel-inner
      .item.one.active
        .container.animated.fadeInUp
          .carousel-caption
            h1 Introducing Streamlyne
            p.lead.margin-40
              em Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            a.btn-main(href='about.html')
              i.icon-chevron-right
              | More
      .item.two
        .container
          .carousel-caption
            h1 Built With Bootstrap
            p.lead.margin-40
              em Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            a.btn-main(href='services.html')
              i.icon-chevron-right
              | More
      .item.three
        .container
          .carousel-caption
            h1 100% Responsive
            p.lead.margin-40
              em Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            a.btn-main(href='pricing.html')
              i.icon-chevron-right
              | More
    a.left.carousel-control.hidden-phone(href='#header', data-slide='prev')
      i.icon-angle-left
    a.right.carousel-control.hidden-phone(href='#header', data-slide='next')
      i.icon-angle-right
  //
     /.carousel 
  //
    Services
  section#services
    .container
      .row.text-center
        //
          Seciton 1
        .span4.service.margin-30
          a(href='#')
            i.icon-mobile-phone.icon-4x.light-gray
            h3 Mobile Responsive
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        //
          Seciton 2
        .span4.service.margin-30
          a(href='#')
            i.icon-thumbs-up.icon-4x.light-gray
            h3 Built With Bootstrap
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        //
          Seciton 3
        .span4.service.margin-30
          a(href='#')
            i.icon-flag.icon-4x.light-gray
            h3 Over 249 Icons
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
  //
    Message Section
  section#message
    .container
      .row.margin-40
        .span12.text-center
          h2
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua.
      .row
        .span12.text-center
          a.more(href='about.html')
            i.icon-chevron-sign-right.icon-2x.white
  //
    Latest Work
  section#latest-work
    .container.text-center
      .row
        .span12.margin-40
          h3 Latest Work
        .row.margin-40
          //
            Project Thumbnail One
          .span4
            .thumbs
              img(src='img/portfolio1.jpg', alt='Image Size 430x280')
              a(href='individual-work.html')
                span.title
                  span
                    i.icon-link.icon-2x
            .project-title.margin-30
              h4 Breakroom
          //
            Project Thumbnail Two
          .span4
            .thumbs
              img(src='img/portfolio2.jpg', alt='Image Size 430x280')
              a(href='individual-work.html')
                span.title
                  span
                    i.icon-link.icon-2x
            .project-title.margin-30
              h4 White Sneaker
          //
            Project Thumbnail Three
          .span4
            .thumbs
              img(src='img/portfolio3.jpg', alt='Image Size 430x280')
              a(href='individual-work.html')
                span.title
                  span
                    i.icon-link.icon-2x
            .project-title.margin-30
              h4 Theme Armada
        //
          End Row of Work
        .row
          .span12.text-center
            a.more(href='3-column.html')
              i.icon-chevron-sign-right.icon-2x.gray
  //
    Testimonial Section
  section#testimonial
    .container
      .row
        .span3.margin-30
          img(src='img/testimonial-img.png', alt='Title')
        .span9
          h2
            | “Lava has been an asset to our company by providing us with a cutting edge look and a web presence that shows off our work and skills.”
          .testimonial-source.pull-right Jeff | Ceo - Creative Company
  //
    Latest News
  section#latest-news
    .container
      .row.margin-40
        .span12.text-center.dark-gray
          h3 Latest News
      .row-fluid
        //
          News Article
        .span3.text-center.latest-article
          img(src='img/latest-news1.jpg', alt='Title')
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          br
          a.more(href='individual-blog.html')
            i.icon-chevron-sign-right.icon-2x.margin-20.gray
        //
          News Article
        .span3.text-center.latest-article
          img(src='img/latest-news2.jpg', alt='Title')
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          br
          a.more(href='individual-blog.html')
            i.icon-chevron-sign-right.icon-2x.margin-20.gray
        //
          News Article
        .span3.text-center.latest-article
          img(src='img/latest-news3.jpg', alt='Title')
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          br
          a.more(href='individual-blog.html')
            i.icon-chevron-sign-right.icon-2x.margin-20.gray
        //
          News Article
        .span3.text-center.latest-article
          img(src='img/latest-news4.jpg', alt='Title')
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          br
          a.more(href='individual-blog.html')
            i.icon-chevron-sign-right.icon-2x.margin-20.gray
            
  include twitterSection
