!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Lava | Designed By Theme Armada
    meta(name='keywords', content='made with bootstrap, wrap bootstrap themes, bootstrap agency themes, creative bootstrap sites, Lava theme, responsive bootstrap theme, mobile website themes, bootstrap portfolio, theme armada')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    meta(property='og:title', content='Lava | Designed By Theme Armada')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://www.themearmada.com/demos/lava')
    meta(property='og:site_name', content='Theme Armada')
    meta(property='og:description', content='made with bootstrap, wrap bootstrap themes, bootstrap agency themes, creative bootstrap sites, Lava theme, responsive bootstrap theme, mobile website themes, bootstrap portfolio, theme armada')
    //
       Styles 
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/animate.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/custom-styles.css')
    script(src='js/modernizr-2.6.2-respond-1.1.0.min.js')
    //
       Fav and touch icons 
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/favicon.png')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='index.html')
            img(src='img/logo.png', alt='logo')
          .nav-collapse.collapse
            ul.nav.pull-right
              li
                a(href='index.html') Home
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Pages & Features
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='full-width.html') Full Width
                  li
                    a(href='services.html') Services
                  li
                    a(href='about.html') About
                  li
                    a(href='team.html') Team
                  li
                    a(href='pricing.html') Pricing
                  li
                    a(href='blog.html') Blog Loop
                  li
                    a(href='blog-article.html') Blog Article
                  li
                    a(href='login.html') Log In
                  li
                    a(href='signup.html') Sign Up
                  li
                    a(href='icons.html') Icons
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Work
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='3-column.html') 3 Column
                  li
                    a(href='4-column.html') 4 Column
                  li
                    a(href='individual-work.html') Individual Work
              li
                a(href='blog.html') Blog
              li
                a(href='contact.php') Contact
          //
            /.nav-collapse 
    //
      Content
    section#page-title
      .container
        .row
          .span12.text-center
            h3 Pricing
    //
      Content
    section#content2
      .container
        .row
          .span4
            ul.unstyled.pricing-table.text-center
              li.headline
                h2 Basic
              li.price
                | $99
                small /month
              li.info 2 row section for you package information. You can include all details or icons
              li.features.first Up To 25 Projects
              li.features 10GB Storage
              li.features Other info
              li.features
                i.icon-ellipsis-horizontal.icon-large
              li.features
                i.icon-ellipsis-horizontal.icon-large
              li.features
                i.icon-ok.icon-large
              li.features
                i.icon-ok.icon-large
              li.features.last.btn-main
                a(href='#')
                  span.white  Sign up now!
          .span4
            ul.unstyled.pricing-table.active.text-center
              li.headline
                h2 Popular
              li.price
                | $129
                small /month
              li.info 2 row section for you package information. You can include all details or icons
              li.features.first Up To 25 Projects
              li.features 10GB Storage
              li.features Other info
              li.features
                i.icon-ellipsis-horizontal.icon-large
              li.features
                i.icon-ellipsis-horizontal.icon-large
              li.features
                i.icon-ok.icon-large
              li.features
                i.icon-ok.icon-large
              li.features.last.btn-main
                a(href='#')
                  span.white  Sign up now!
          .span4
            ul.unstyled.pricing-table.text-center
              li.headline
                h2 Advanced
              li.price
                | $299
                small /month
              li.info 2 row section for you package information. You can include all details or icons
              li.features.first Up To 25 Projects
              li.features 10GB Storage
              li.features Other info
              li.features
                i.icon-ellipsis-horizontal.icon-large
              li.features
                i.icon-ellipsis-horizontal.icon-large
              li.features
                i.icon-ok.icon-large
              li.features
                i.icon-ok.icon-large
              li.features.last.btn-main
                a(href='#')
                  span.white  Sign up now!
    //
      Twitter Feed
    section#twitter
      .container
        .row
          .span12.text-center
            i.icon-twitter.icon-4x.gray.margin-20
            .twitter-feed
              ul#twitter_update_list.rotate
    //
      Bottom Section
    section#bottom
      .container
        .row.margin-40
          .span10.offset1.text-center
            p
              | 1234 Main Street Atlanta, GA 30305 | 404.555.5555  |
              a(href='mailto:support@themearmada.com')
                i.icon-envelope-alt
                | support@themearmada.com
            hr
        .row
          .span10.offset1.text-center
            //
              Social Icons
            ul.social-icons
              li
                a.twitter(href='http://www.twitter.com/themearmada', target='_blank')
                  i.icon-twitter.icon-3x
              li
                a.facebook(href='http://www.facebook.com', target='_blank')
                  i.icon-facebook.icon-3x
              li
                a.google(href='http://www.googleplus.com', target='_blank')
                  i.icon-google-plus.icon-3x
              li
                a.instagram(href='http://www.instagram.com', target='_blank')
                  i.icon-camera-retro.icon-3x
              li
                a.pinterest(href='http://www.pinterest.com', target='_blank')
                  i.icon-pinterest.icon-3x
              li
                a.linkedin(href='http://www.linkedin.com', target='_blank')
                  i.icon-linkedin.icon-3x
              li
                a.Github(href='http://www.github.com', target='_blank')
                  i.icon-github-alt.icon-3x
    section#footer
      .container
        .row
          .span12.text-center
            p
              | @ Copyright. All Rights Reserved. Created by
              a(href='http://www.themearmada.com') Theme Armada.
    //
    //   Javascript
    //      ================================================== 
    //
       Placed at the end of the document so the pages load faster 
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\\/script>')
    script(src='js/bootstrap.min.js')
    script(src='js/main.js')
    script(src='js/rotate.js')
    