// Pricing
extends basic-layout

block head
  title Home | Streamlyne Technologies

block content
  //
    Content
  section#page-title
    .container
      .row
        .span12.text-center
          h3 Pricing
  //
    Content
  section#content2
    .container
      .row
        .span4
          ul.unstyled.pricing-table.text-center
            li.headline
              h2 Basic
            li.price
              | $99
              small /month
            li.info 2 row section for you package information. You can include all details or icons
            li.features.first Up To 25 Projects
            li.features 10GB Storage
            li.features Other info
            li.features
              i.icon-ellipsis-horizontal.icon-large
            li.features
              i.icon-ellipsis-horizontal.icon-large
            li.features
              i.icon-ok.icon-large
            li.features
              i.icon-ok.icon-large
            li.features.last.btn-main
              a(href='#')
                span.white  Sign up now!
        .span4
          ul.unstyled.pricing-table.active.text-center
            li.headline
              h2 Popular
            li.price
              | $129
              small /month
            li.info 2 row section for you package information. You can include all details or icons
            li.features.first Up To 25 Projects
            li.features 10GB Storage
            li.features Other info
            li.features
              i.icon-ellipsis-horizontal.icon-large
            li.features
              i.icon-ellipsis-horizontal.icon-large
            li.features
              i.icon-ok.icon-large
            li.features
              i.icon-ok.icon-large
            li.features.last.btn-main
              a(href='#')
                span.white  Sign up now!
        .span4
          ul.unstyled.pricing-table.text-center
            li.headline
              h2 Advanced
            li.price
              | $299
              small /month
            li.info 2 row section for you package information. You can include all details or icons
            li.features.first Up To 25 Projects
            li.features 10GB Storage
            li.features Other info
            li.features
              i.icon-ellipsis-horizontal.icon-large
            li.features
              i.icon-ellipsis-horizontal.icon-large
            li.features
              i.icon-ok.icon-large
            li.features
              i.icon-ok.icon-large
            li.features.last.btn-main
              a(href='#')
                span.white  Sign up now!
  //
    Twitter Feed
  section#twitter
    .container
      .row
        .span12.text-center
          i.icon-twitter.icon-4x.gray.margin-20
          .twitter-feed
            ul#twitter_update_list.rotate
    