// Services
extends basic-layout

block head
  title Home | Streamlyne Technologies

block content
  //
    Content
  section#content1
    .container
      .row.margin-60
        .span12
          h3 Services
          p.lead See what we do
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      //
        First Service Row
      .row-fluid
        .span6.margin-60
          .row-fluid
            .span3.service-icons.text-center
              i.icon-thumbs-up.icon-4x.light-gray
            .span9.text-left
              h3 Built w/ Bootstrap
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
        .span6.margin-60
          .row-fluid
            .span3.service-icons.text-center
              i.icon-flag.icon-4x.light-gray
            .span9.text-left
              h3 Over 249 Icons
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
      //
        Second Service Row
      .row-fluid
        .span6.margin-60
          .row-fluid
            .span3.service-icons.text-center
              i.icon-mobile-phone.icon-4x.light-gray
            .span9.text-left
              h3 Mobile Responsive
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
        .span6.margin-60
          .row-fluid
            .span3.service-icons.text-center
              i.icon-file-alt.icon-4x.light-gray
            .span9.text-left
              h3 Easy To Customize
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
      //
        Third Service Row
      .row-fluid
        .span6.margin-60
          .row-fluid
            .span3.service-icons.text-center
              i.icon-bolt.icon-4x.light-gray
            .span9.text-left
              h3 Lightning Fast
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
        .span6.margin-60
          .row-fluid
            .span3.service-icons.text-center
              i.icon-heart.icon-4x.light-gray
            .span9.text-left
              h3 Good looking
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
  //
    Message Section
  section#content2
    .container
      .row.margin-40
        .span12.text-center
          h2
            span.dark-gray
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
      .row
        .span12.text-center
          a.btn-main(href='signup.html')
            i.icon-chevron-right
            | Sign Up
  //
    Twitter Feed
  section#twitter
    .container
      .row
        .span12.text-center
          i.icon-twitter.icon-4x.gray.margin-20
          .twitter-feed
            ul#twitter_update_list.rotate