// Twitter Feed
// section#twitter
    .container
        .row
            .span12.text-center
                i.icon-twitter.icon-4x.gray.margin-20
                .twitter-feed
                    ul#twitter_update_list.rotate
//
    script(src="js/twitter-feed.js")
// Twitter Handle - Insert your Twitter username below ex: (screen_name=USERNAME&include)
//    script(src="http://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=themearmada&amp;include_rts=true&amp;count=4&amp;callback=twitterCallback2", type="text/javascript")
