# Vim
*~
*.swp
*.swo

# Mac
.DS_Store
.AppleDouble
.LSOverride
# Icon must ends with two \r.
Icon
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.pyc
.idea/
dist/
www

site/css/
site/js/
site/*.html
!site/sitemap.html

node_modules

products_WB049M4SF

