---
title: Analytics
---

<div class="analytics-page">

	<br/>

	<div class="container">

		<p>Streamlyne’s Custom Scenario Builder is a self-service tool that allows you to build relationships and scenarios between your sensors, assets, and user generated data.</p>

		<br/>

		<div class="row">

			<div class="col-md-6">

				<h3>Dashboard</h3>
				<p>This is the main landing area for operators and managers to see an instant snapshot of recent alerts, view scenarios, view  custom reports, and to read or leave comments to communicate with operators and managers. 
				</p>

				<h3>Alerts</h3>
				<p>Instantly be alerted when assets are reaching maximum or minimum thresholds, and see what other assets may be affected.
				</p>

				<h3>Streamlyne Scenario Builder</h3>
				<p>
					Simply build relationships (aka “links”) between sensors, assets, and user generated content to create your own monitoring system to understand when critical events happen before they happen. 
				</p>

				<h3>Custom Reports</h3>
				<p>
					Create custom automated reports of scenarios for the people who need to know when things happen.
				</p>

				<h3>Comments</h3>
				<p>
					Leave and view comments by fellow operators so everyone is always on top of the latest developments and scenarios.
				</p>

			</div>

			<div class="right-column col-md-6">
				<img src="http://www.theiphonemom.com/wp-content/uploads/2012/10/imac.jpeg"/>
			</div>

		</div>
	</div>

	<br/>

	<section>

		<div class="container">

			<h3>Equipment Failure</h3>

			<h4>Example 1</h4>

			<img src="http://blog.moveableonline.com/assets/2014/01/iMac-Mobile-Analytics-1024x768.png"/>

			<p>this is a test</p>

		</div>

	</section>

	<br/>

	<div class="container">

		<h3>Equipment Failure</h3>

		<h4>Example 2</h4>

		<img src="http://blog.moveableonline.com/assets/2014/01/iMac-Mobile-Analytics-1024x768.png"/>

		<p>this is a test</p>

	</div>
		

</div>