---
title: Analytics
order: 2
hidden: false
---

<div class="analytics-page">

	<br/>

	<div class="container">

		<br/>

		<p>Streamlyne provides alerts and analytics to help operators and managers make decisions that reduce costs, eliminate operational downtime, and improve ROI of their operations. Begin understanding your plant in new ways as Streamlyne collects and analyzes daily information from your systems to identify anomolies that may be devastating to your plant. When something goes wrong and a critcal alert happens operators need to act immmediatly to solve the problem. Streamlyne analyzes millions of data points and presents operators with potential solutions to the alert and reasons why the alert happened.
		</p>

		<br/>
		<br/>

		<div class="row">

			<div class="col-md-6">
			<br>

				<h3>Alerts</h3>
				<p>Your DCS system has flagged an alarm on a particular peice of equipment. You want to see when the last time this specific alarm happened, so you check your Streamlyne screen and open the Alert screen. You check the solutions to see what caused this alarm in the past and how you should react to this problem, whether it's changing pressure, flow rate, cleaning the sensors, etc. Streamlyne gives you the top reasons as to why this alarm may be happening based on the millions of data points that Streamlyne mines for patterns. Now that you've diagnosed this alarm, you add a reason for others to see and to use in the future if this alarm happens again. With this, Streamlyne is building a rich history of problems and solutions to share with all employees.

				</p>
				<br/>







			</div>

			<div class="right-column col-md-6">
				<img src="http://www.theiphonemom.com/wp-content/uploads/2012/10/imac.jpeg"/>
			</div>

		</div>
	</div>

	<br/>

	<div class="container">

		<div class="col-md-6">
			<img src="http://www.theiphonemom.com/wp-content/uploads/2012/10/imac.jpeg"/>
		</div>

		<div class="col-md-6">
			<h3>Predictive Asset Failure</h3>
			<p> You've encountered a mechanical failure (hydrates, flaring, compressors, etc) on your line that you know happens every six months or so, but have not had the ability to communicate the pattern with your team. You log into Streamlyne and click on the Analytics tab to create the specific state, high and low limits, and percentages that this particular malfunction must stay within to run smoothly. Now that you've created this scenario, you and your team will be notified if these limites are being breached in the future. Fast-forward a year from now, you see that an alert has popped up on your Streamlyne screen. The scenario you made a year prior is showing that the potential for mechanical failure is at 83%. This time, you were able to proactively manage the problem before it affected your entire line, and could share your experience and knowledge on the situation and the solution with your team.  
			</p>
		</div>

	</div>

	<section class="section-blue">

	  <div class="container">

	    <h2 class="text-center">Analytics Engine</h2>

	    <div class="col-md-6">
	      <h3><i class="fa fa-sort-numeric-desc"></i>  Machine Learning</h3>
	      <div class="">
	        <p>As our platform consumes more data, it becomes extremely valuable to operators and managers. Each additional data point, alert, solution, recommendation, and user action makes our algorithms and analytics engine more intellegent and automatically learns how your plant operates and thinks. </p>
	      </div>
	    </div>

	    <div class="col-md-6">
	      <h3><i class="fa fa-lightbulb-o"></i>  Predictive Analytics</h3>
	      <div class="">
	        <p>Our unique machine learning and artificial intelligence approach detects potential alerts and failures minutes, days, weeks, and months before they happen. Streamlyne helps identify root problems and predict the potential chain of events leading up to a failure to help minimize unplanned downtime.</p>
	      </div>
	    </div>

	    <div class="col-md-6">
	      <h3><i class="fa fa-code-fork"></i>  Scenario Builder</h3>
	      <div class="">
	        <p>Operators have the ability to build custom scenarios, intelligent rules, and direct relationships to assets and sensors. Operators use their knowledge of the plant to build specific parameters and conditions that will help monitor and predict failures. Build your scenarios and watch analysis in real-time.</p>
	      </div>
	    </div>


	    <div class="col-md-6">
	      <h3><i class="fa fa-search"></i>  Business Intelligence</h3>
	      <div class="">
	        <p>Structuring plant data efficiently helps operators to query and access information with ease. Important questions require complex analysis and data to identify correlations, causal relationships, and present inferences in easy to use formats. Real-time insights made simple for operators and managers.</p>
	      </div>
	    </div>

	    <div class="col-md-6">
	      <h3><i class="fa fa-picture-o"></i>  Visualizations</h3>
	      <div class="">
	        <p>Real-time visualiztions of alerts and graphs help operators and managers make faster decisions by presenting complex data in easy to read formats. Streamlyne's intelligent visualizations show powerful and intuitive insight on the status and operations of their plant.</p>
	      </div>
	    </div>

	    <div class="col-md-6">
	      <h3><i class="fa fa-file-text-o"></i>  Reporting</h3>
	      <div class="">
	        <p>Streamlyne allows operators and managers to build custom reports measuring your assets lifecycle, real-time maintenance cost prediction, and share within your company. Reports can be automated between operator shifts and analyze operational performance.</p>
	      </div>
	    </div>

	  </div>

	</section>



</div>
