---
title: Analytics
---

<div class="analytics-page">

	<br/>

	<div class="container">

		<p>Streamlyne’s Custom Scenario Builder is a self-service tool that allows you to build relationships and scenarios between your sensors, assets, and user generated data.</p>

		<br/>

		<div class="row">

			<div class="col-md-6">

				<h3>Dashboard</h3>
				<p>This is the main landing area for operators and managers to see an instant snapshot of recent alerts, view scenarios, view  custom reports, and to read or leave comments to communicate with operators and managers. 
				</p>

				<h3>Alerts</h3>
				<p>Instantly be alerted when assets are reaching maximum or minimum thresholds, and see what other assets may be affected.
				</p>

				<h3>Streamlyne Scenario Builder</h3>
				<p>
					Simply build relationships (aka “links”) between sensors, assets, and user generated content to create your own monitoring system to understand when critical events happen before they happen. 
				</p>

				<h3>Custom Reports</h3>
				<p>
					Create custom automated reports of scenarios for the people who need to know when things happen.
				</p>

				<h3>Comments</h3>
				<p>
					Leave and view comments by fellow operators so everyone is always on top of the latest developments and scenarios.
				</p>

			</div>

			<div class="right-column col-md-6">
				<img src="http://www.theiphonemom.com/wp-content/uploads/2012/10/imac.jpeg"/>
			</div>

		</div>
	</div>

	<br/>

	<section>

		<div class="container">

			<h3>Equipment Failure</h3>

			<h4>Example 1</h4>

			<img src="http://blog.moveableonline.com/assets/2014/01/iMac-Mobile-Analytics-1024x768.png"/>

			<p>this is a test</p>

		</div>

	</section>

	
	<section class="section-blue">
	  
	  <div class="container">

	    <h2 class="text-center">Analytics Engine</h2>

	    <div class="col-md-6">
	      <h3><i class="fa fa-cogs"></i>  Less Downtime</h3>
	      <div class="">
	        <p>Today your plant is humming along, but on the night shift a critical component malfunctions and your plant shuts down for emergency repair. Streamlyne puts the control back into the hands of your operators and managers to eliminate unplanned downtime.</p>
	      </div>
	    </div>

	    <div class="col-md-6">
	      <h3><i class="fa fa-medkit"></i>  Improving Safety</h3>
	      <div class="">
	        <p>Having the right information at all times protects you and your employees from harm. The ability to access the latest information on assets while working on a piece of equipment is critical to safety when working with hazardous chemicals, gases, and large interworking pieces of equipment.</p>
	      </div>
	    </div>

	    <div class="col-md-6">
	      <h3><i class="fa fa-smile-o"></i>  Better Performance</h3>
	      <div class="">
	        <p>Interruptions in production and workflow directly impacts your customers. With better planning, this gives your customer the best service and experience possible.</p>
	      </div>
	    </div>


	    <div class="col-md-6">
	      <h3><i class="fa fa-bar-chart-o"></i>  Real-Time Data</h3>
	      <div class="">
	        <p>We simplify the way oil and gas operators and managers do their jobs by analyzing and delivery new data on a mobile and web application. Having information in one place in one platform</p>
	      </div>
	    </div>
	    
	    <div class="col-md-6">
	      <h3><i class="fa fa-users"></i>  Collaborate and Share Knowledge</h3>
	      <div class="">
	        <p>New and senior employees can share knowledge on plant operations, which makes everybody and the entire company smarter.</p>
	      </div>
	    </div>

	    <div class="col-md-6">
	      <h3><i class="fa fa-medkit"></i>  Improving Safety</h3>
	      <div class="">
	        <p>Having the right information at all times protects you and your employees from harm. The ability to access the latest information on assets while working on a piece of equipment is critical to safety when working with hazardous chemicals, gases, and large interworking pieces of equipment.</p>
	      </div>
	    </div>

	  </div>

	</section>

		

</div>