---
title: Contact
order: 7
---

<div class="contact-page">

  <div id="header" class="carousel slide animated fadeIn">
    <div class="carousel-inner">
      <div class="item two active">
        <div class="carousel-fade">
        <div class="container animated fadeInUp">
          <div class="carousel-caption">
            <h1>Contact Us</h1>
            <br/>
            <div class="caption lead">
              <address>
                <strong>Streamlyne Technologies Ltd.</strong><br>
                111 Pebble Creek Crescent Suite 208<br>
                Dartmouth, N.S. B2W 0L1<br>
                (902) 210-6735
                <br/>
                <a href="mailto:todd@streamlyne.co"><i class="icon-envelope-alt"></i> todd@streamlyne.co</a>
              </address>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->

</div>
