---
title: Early Adopter
---

<div class="lead">
<p>
We are looking for innovative companies in the oil, natural gas, petrochemical, and electrical industries who would like to become  a part of the Streamlyne Early Adopter Program. 
</p>

<br/>

<p>Your company is, or aspires to be:
<ul>
<li>An innovator in your sector that values cutting edge technology</li>
<li>Has an entrepreneurial mindset</li>
<li>Would like to help create new industry standards</li>
<li>Discover new ways to learn about analytics, algorithms, insights, and predictions to improve the efficiency of your company and the expectations of your customers.</li>
<li>Eager to learn more about technology, industry trends, and entrepreneurial “outside of the box” development.</li>
</ul>
</p>

<br/>

<p>
Early Adopter Program Criteria:
<ul>
<li>Large oil, natural gas, petrochemical, or electrical company</li>
<li>Have Distributed Control Systems (Sensors), Asset Management Systems (IBM Maximo, SAP, Oracle, OpenText) that we can integrate or connect via their REST API</li>
<li>Able to provide a large data-set from your plant management systems for testing in the Streamlyne custom analytics platform.</li>
<li>Willing to allow Streamlyne to work with at least one plant, collecting feedback from operators and managers to help with product development.</li>
<li>Able to be a referenceable customer for marketing purposes.</li>
</ul>
</p>

<p>
If this sounds like your company, then we would love to work with you. Please contact Todd Murphy at todd@streamlyne.co
</p>

</div>
