---
title: Early Adopter
---

<div class="early-adopter-page">

	<div id="header" class="carousel slide animated fadeIn">
	  <div class="carousel-inner">
	    <div class="item one active">
	      <div class="carousel-fade">
	      <div class="container animated fadeInUp">
	        <div class="carousel-caption">
	          <h1>Calling All Early Adopters</h1>
	          <br/>
	          <p class="lead">
				We are looking for innovative companies in the oil, natural gas, petrochemical, and electrical industries who would like to participate in the Streamlyne Early Adopter Program. 
	          </p>
	        </div>
	      </div>
	      </div>
	    </div>
	  </div>
	</div><!-- /.carousel -->

	<section class="section-blue">

		<div class="container">
			<br/>

			<p>Your company is, or aspires to be:
				<ul>
					<li>An innovator in your sector that values cutting edge technology</li>
					<li>Has an entrepreneurial mindset</li>
					<li>Would like to help create new industry standards</li>
					<li>Discover new ways how analytics, algorithms, insights, and predictions can help your company and exceed the expectations of your customers.</li>
					<li>Eager to learn more about technology, industry trends, and entrepreneurial “outside of the box” development.</li>
				</ul>
			</p>
			<br/>

		</div>
	</section>

	<br/>

	<div class="container">
		<p>
			Early Adopter Program Criteria:
			<ul>
				<li>Large oil, natural gas, petrochemical, or electrical company</li>
				<li>Have Distributed Control Systems, Asset Management Systems (IBM Maximo, SAP, Oracle, OpenText) that we can integrate to or connect via REST API</li>
				<li>Able to provide a large data-set from your plant management systems for testing in the Streamlyne custom analytics platform.</li>
				<li>Willing to allow Streamlyne to work with at least one plant, collecting feedback from operators and managers to help with product development.</li>
				<li>Able to be a referenceable customer for marketing purposes.</li>
			</ul>
		</p>

		<p>
			If this sounds like your company, then we would love to work with you. Please contact Todd Murphy at todd@streamlyne.co
		</p>
	</div>

</div>
