---
title: Features
order: 4
hidden: false
---

<div class="container">

<div class="row">

<br/>

<div class="col-md">
<p>Streamlyne's features were developed in collaboration with operators to help simplify their daily workflow and tasks. Operators have a tough job of processing critical amounts of information at all times. Streamlyne makes this task manageable by providing access to key tasks and information in one location. As operators perform daily tasks, they generate real-time data that contributes to the Streamlyne Analytics platform to help predict and prevent unplanned downtime. Streamlyne's features compliment and interface with current IT systems to provide fast, real-time data to improve productivity, goals, and communication.</p>

<br/>

</div>

<div class="col-md-6">
<img src="{{assets}}/img/mobile_template.png" alt="mobile_template" />
</div>

<div class="col-md-6">
<h3> Streamlyne In Your Daily Routine</h3>
<p> It's time to check a specific asset on the plant floor. You grab your iPhone/iPod Touch, view the P&ID CAD file for the area you're working in, and are on your way to the plant floor. As you stand in front of an asset, you need to understand who worked on this piece of equipment last. You see that John commented on this peice of equipment two days ago that this asset has a broken valve, and the replacement part is on its way to the plant for repair. As you move throughout the plant, you are pulling the DCS metric information to see how each asset is running. After inspection, you lock out an asset for maintenance. You just completed these tasks using Streamlyne.

</p>
</div>

</div>

<br/>

</div>

	<section class="section-orange">

	  <div class="container">

	    <h2 class="text-center">Features</h2>

	    <div class="col-md-6">
	      <h3><i class="fa fa-mobile"></i>  Mobile Application</h3>
	      <div class="">
	        <p> Streamlyne offers a native iOS mobile application for the iPhone/iPod that allows operators to view and input critical asset information and analytics anywhere in your plant. 
</p>
	      </div>
	    </div>

	    <div class="col-md-6">
	      <h3><i class="fa fa-desktop"></i>  Web Based Application</h3>
	      <div class="">
	        <p> This is the administration and creation hub of Streamlyne. Managers and VP’s can view all operator information from the plant floor of one plant, or multiple locations. All features created in the desktop application are seamlessly pushed to the mobile application so you can use anywhere.</p>
	      </div>
	    </div>

	    <div class="col-md-6">
	      <h3><i class="fa fa-list"></i>  Asset Profile</h3>
	      <div class="">
	        <p> Streamlyne allows an operator to search and view key asset information within two clicks. Imagine an Operator having this information at their fingertips right in front of an asset. They can view: Metrics and trends, Lock-outs and Blinds, Work Orders, Timeline, CAD’s (P&ID), and Procedures.</p>
	      </div>
	    </div>


	    <div class="col-md-6">
	      <h3><i class="fa fa-user"></i>  Operator Generated Data</h3>
	      <div class="">
	        <p> As employees engage with Streamlyne, the entire platform becomes enriched with intelligent information that helps optimize knowledge. Interactions from emplpyees brings context to data so it can be streamed into the Streamlyne Analytics Platform to provide powerful insights across the plant.</p>
	      </div>
	    </div>

	    <div class="col-md-6">
	      <h3><i class="fa fa-exchange"></i>  DCS Metrics</h3>
	      <div class="">
	        <p> Streamlyne integrates directly with DCS (ie. Invensys) systems and allows Operators to view real-time data on a mobile device.  </p>
	      </div>
	    </div>

	    <div class="col-md-6">
	      <h3><i class="fa fa-file-text-o"></i>  Reporting</h3>
	      <div class="">
	        <p> With all empoyees inputting information on a daily basis, reports can be quickly generated to understand asset-centric information, such as, trending, compliance and accuracy, procedure auditing, and more. </p>
	      </div>
	    </div>

	  </div>

	</section>

{{!--

<br/>
<hr/>
<br/>


<div class="row">

<div class="col-md-6 feature">
<img src="http://www.theiphonemom.com/wp-content/uploads/2012/10/imac.jpeg" alt="mobile_template" />

</div>

<div class="col-md-6">
<h3>Asset Profile</h3>
<p>Streamlyne allows an operator to search and view key asset information within two clicks - it's that simple. Streamlyne connects and pulls data from many sources so operators can view and interact with one comprehensive asset profile. Imagine an operator or maintenance worker having this information at their fingertips right in front of an asset.</p>
<p>An operator can view:</p>
<ul>
<li>Metrics and trends</li>
<li>Lock-out and Blinds</li>
<li>Work Orders</li>
<li>Timeline</li>
<li>Operating Parameters</li>
<li>CAD’s (P&amp;ID)</li>
<li>Procedures</li>
</ul>
</p>
</div>

</div>

<br/>

<div class="row">

<div class="col-md-6">
<h3>Metrics</h3>
<p>
As an operator, you can easily build custom metric forms to track and trend key data for anything in your plant. For example, if you want to monitor and measure the visual wear and tear of an asset, simply use the metric template builder and input the parameters you wish to analyze. Using the mobile application, operators will find it valuable to use up-to-date metrics while doing their rounds and maintaining assets. Overtime, as assets are monitored and more data is input, you can build a history on any piece of equipment or process.
</p>
</div>

<div class="col-md-6 feature">
<img src="http://www.theiphonemom.com/wp-content/uploads/2012/10/imac.jpeg" alt="mobile_template" />

</div>

</div>

<br/>

<div class="row">

<div class="col-md-6 feature">
<img src="http://www.theiphonemom.com/wp-content/uploads/2012/10/imac.jpeg" alt="mobile_template" />

</div>

<div class="col-md-6">
<h3>LOTO &amp; Blinds</h3>
<p>
Streamlyne's Lockout/Blind system is an innovative tool that lets you standardize this complex processes throughout one or multi site plants. An operator can easily create Lockouts and Blinds for any piece of equipment, input step-by-step lockout processes, attach isolation points, and ensure all compliance rules are followed. Once a Lockout/Blind has been created, it can then be seamlessly distributed to all operators and maintenance personell through the mobile and web platforms.
</p>
</div>

</div>


<br/>

<div class="row">

<div class="col-md-6">
<h3>Work Orders</h3>
<p>
Streamlyne integrates with all major Asset Management Systems (IBM Maximo, SAP, Oracle) and allows you to view the history of maintenance and recent activity for each asset. Operators can easily add photos and comments to assets that have been fixed or update other workers on what activity has been completed on that asset. Streamlyne's mobile application lets operators and manintenance view any work orders in their plant or out in the field.
</p>
</div>

<div class="col-md-6 feature">
<img src="http://www.theiphonemom.com/wp-content/uploads/2012/10/imac.jpeg" alt="mobile_template" />

</div>

</div>


<br/>

<div class="row">

<div class="col-md-6 feature">
<img src="http://www.theiphonemom.com/wp-content/uploads/2012/10/imac.jpeg" alt="mobile_template" />

</div>

<div class="col-md-6">
<h3>Timeline</h3>
<p>
Your timeline is a snapshot of what has happened from shift to shift and collection of key activities that you need to know about. It allows operators, maintenance, and managers to communicate and comment on recent asset activity, downtime, plant performance, and analytics. Most plants operate on shift work such as "x" amount of days on and "x" amount of days off. When an employee returns from their time off, Streamlyne makes is simple to review their timeline and be up to date on all operations while they were gone.
</p>
</div>

</div>


<br/>

<div class="row">

<div class="col-md-6">
<h3>Operating Paramters</h3>
<p>
Assets are supposed to be operated within specific OEM (original equipment manufacturer) specs and requirements. In reality, operators and maintenance personell change settings all the time based on many factors. Using Streamlyne's mobile application, operators will be able to input and analyze changes in operating parameters over time. As data is collected, operators and maintenance can measure the impact any change in settings has on the overall health and useful life of that asset.
</p>
</div>

<div class="col-md-6 feature">
<img src="http://www.theiphonemom.com/wp-content/uploads/2012/10/imac.jpeg" alt="mobile_template" />

</div>

</div>


<br/>

<div class="row">

<div class="col-md-6 feature">
<img src="{{assets}}/img/mobile_template.png" alt="mobile_template" />
</div>

<div class="col-md-6">
<h3>CAD (P&amp;IDs)</h3>
<p>
Streamlyne gives operators a new way of searching and navigating assets. Streamlyne makes CAD files interactive on our mobile application so you can view asset information in real time. For example, you're standing in front a maze of pipes or large compressor - you can simply search for that CAD, click on that compressor to view its: asset profile, metrics, work orders, procedures, lockout/blinds, and DCS trends.
</p>
</div>

</div>


<br/>

<div class="row">

<div class="col-md-6">
<h3>Procedures</h3>
<p>
Operators and Maintenance are overloaded with the volume of technical documents and detailed procedures they have to learn and have immediate access when they need it. Today, this is a painful process of printing large volumes of paper and detailed drawings and trying to interpret while in the field or working on an asset. Streamlyne allows operators and maintenance to simply drag and drop any document or procedure and attach it to an asset. Upload thousands of documents and procedures and have access to them anytime, anywhere. For example, you need to fix an asset. Streamlyne makes it simple to locate all information - search for PV123, review the lockout/blinds, review the procedure how to fix it, and you're done.
</p>
</div>

<div class="col-md-6 feature">
<img src="http://www.theiphonemom.com/wp-content/uploads/2012/10/imac.jpeg" alt="mobile_template" />
</div>

</div>


</div>

--}}
