---
title: How It Works
order: 3
---

<div class="how-it-works-page">

  <div id="header" class="carousel slide animated fadeIn">
    <div class="carousel-inner">
      <div class="item small-item how-it-works-item active">
        <div class="carousel-fade">
        <div class="container animated fadeInUp">
          <div class="carousel-caption">
            <h1>How It Works</h1>
            <!-- <br/>
            <p class="caption lead">
              She likes it.
            </p> -->
          </div>
        </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->

  <div class="container">

    <br/>

    <br/>
    <br/>

    <div class="row">

      <div class="col-md-6">

        <h3>1. DCS API Integration</h3>
        <p>We integrate Streamlyne with your existing DCS System to read your sensor data in real time. Streamlyne integrates with Invensys, Honeywell, Siemens, ABB, and we are OPC compatible to seamlessly connect with your sensor data.
        </p>
        <br/>

      </div>

      <div class="right-column col-md-6">
        <i class="sl-big-icon fa fa-sitemap"></i>
        <!-- <img src="{{assets}}/img/Scenarios_Create Scenario.png"/> -->
      </div>

    </div>

    <br/>
    <hr/>
    <br/>

    <div class="container">

      <div class="col-md-6">
        <!-- <img src="{{assets}}/img/Scenarios_Flaring.png" /> -->
        <i class="sl-big-icon fa fa-exchange"></i>
      </div>

      <div class="col-md-6">
        <h3>2. Stream Data in Real-time</h3>
        <p>Once integrated, Streamlyne analyzes millions of data points in real time to build a tailored predictive analytics system for your plant. Managers and operators are able to monitor current DCS alarms and build custom multi-sensor scenarios to recognize critical events (flaring, hydrates, pipeline leaks, etc.) before they happen.
        </p>
      </div>

    </div>

    <br/>
    <hr/>
    <br/>

    <div class="container">

      <div class="col-md-6">
        <h3>3. Monitor</h3>
        <p>Streamlyne monitors real-time sensor data to detect existing DCS alarms along with custom multi-sensor Streamlyne alarms. All alarms can have custom causes and solutions built in that can be selected or entered as each alarm occurs. This helps with cataloguing experienced operator knowledge to be used later in high stress situations.
        </p>
      </div>

      <div class="col-md-6">
        <i class="sl-big-icon fa fa-desktop"></i>
        <!-- <img src="{{assets}}/img/Scenarios_Hydrates.png" /> -->
      </div>

    </div>

    <br/>
    <br/>
    <br/>

  </div>

</div>
