---
title: How It Works
---

<div class="container">

	<div class="row">

		<div class="col-md-6">
			<img src="http://s177976.gridserver.com/uploads/general/how-it-works-diagram.png"/>
		</div>

		<div class="col-md-6">
			<h3>Deployment</h3>

			<br/>
			<h4>So, how does Streamlyne work?</h4>
			<p>We take all the raw, unstructured, user generated data from three separate silos:</p>
			<ul>
				<li>Asset Management Systems (IBM, SAP, Oracle, OpenText); </li>
				<li>Distributed Control Systems (Invensys, Honeywell, Siemens)</li> 
				<li>Operator user generated information/input</li>
			</ul>
			<p>We then take this complex data and run it through Streamlyne’s Custom Analytics Platform and generate simple and user-friendly graphic images that display new trends and analytics for operators and managers.
			</p>

			<br/>
			<h4>VP’s and Manager  Capabilities</h4>
			<p>Now VP’s and managers can view all system and user generated information - for one or multi-site plants.</p>

			<br/>
			<h4>Operator Capabilities</h4>
			<p>Operators now have a user-friendly iOS mobile application so they can view and input real-time asset information right at their fingertips.
			</p>

		</div>

	</div>
</div>

<br/>
<br/>

<div>
	
	<section>
		<div class="container">
			<div class="row">

				<div class="col-md-6">
					<h3>API/Custom Integration</h3>
					<p>We can connect to all major DCS and Asset Management System API’s.</p>

					<h4>Distributed Control Systems (sensors)</h4>
					<p>We can connect with:</p>
					<ul>
						<li>Invensys</li>
						<li>Honeywell</li>
						<li>Siemens</li>
						<li>ABB</li>
					</ul>

					<h4>Asset Management Systems</h4>
					<p>We can connect with:</p>
					<ul>
						<li>IBM Maximo</li>
						<li>SAP</li>
						<li>Oracle</li>
						<li>OpenText</li>
					</ul>

				</div>

				<div class="col-md-6">

				</div>
			</div>
		</section>

	</div>

</div>