---
title: How It Works
order: 3
---

<div class="how-it-works-page">

  <div id="header" class="carousel slide animated fadeIn">
    <div class="carousel-inner">
      <div class="item small-item how-it-works-item active">
        <div class="carousel-fade">
        <div class="container animated fadeInUp">
          <div class="carousel-caption">
            <h1>How It Works</h1>
            <!-- <br/>
            <p class="caption lead">
              She likes it.
            </p> -->
          </div>
        </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->

  <div class="container">

    <br/>

    <br/>
    <br/>

    <div class="row">

      <div class="col-md-6">

        <h3>1. DCS API Integration</h3>
        <p>Create multi-sensor alarms for any scenario in your plant. The Scenario Builder allows operators to create multi-sensor alarms with DCS and non-DCS data that Streamlyne will automatically evaluate, and then alert the likelihood of that specific scenario occurring (ie. flaring, hydrates). A scenario can include just one sensor or a string of sensors that lead up to an event/ scenario. Now you can track in real time the progression of any event and take action faster.
        </p>
        <br/>

      </div>

      <div class="right-column col-md-6">
        <i class="sl-big-icon fa fa-sitemap"></i>
        <!-- <img src="{{assets}}/img/Scenarios_Create Scenario.png"/> -->
      </div>

    </div>

    <br/>
    <hr/>
    <br/>

    <div class="container">

      <div class="col-md-6">
        <!-- <img src="{{assets}}/img/Scenarios_Flaring.png" /> -->
        <i class="sl-big-icon fa fa-exchange"></i>
      </div>

      <div class="col-md-6">
        <h3>2. Stream Data in Real-time</h3>
        <p>Unplanned flaring is a drain on both profitability and product, can be hazardous to the surrounding environment, and create red flags to government. With Streamlyne you can identify the pathway of “triggers” (sensors) that are involved in any flaring event to help you identify when a flare might take place. This allows you and your plant to be proactive instead of reactive, reducing costs and unknown outcomes.
        </p>
      </div>

    </div>

    <br/>
    <hr/>
    <br/>

    <div class="container">

      <div class="col-md-6">
        <h3>3. Monitor</h3>
        <p>Hydrates can be insidious to any plant, and can be difficult to track. Hydrates are common but some are extremely lethal if left to form. Streamlyne allows you to input any string of “triggers” (sensors) for any hydrate scenario to help you identify when a hydrate is forming. You can now easily track the progress of a hydrate event by inputting sensor high and low thresholds to assist in your diagnosis.
        </p>
      </div>

      <div class="col-md-6">
        <i class="sl-big-icon fa fa-desktop"></i>
        <!-- <img src="{{assets}}/img/Scenarios_Hydrates.png" /> -->
      </div>

    </div>

    <br/>
    <br/>
    <br/>

  </div>

</div>
