---
title: Home
heading: Predict and Prevent Plant Downtime
hidden: true
order: 1
---

<div class="home-page">

  <!-- Carousel
  Change your images in the main.css file.
  ================================================== -->
  <div id="header" class="carousel slide animated fadeIn">

    <div class="carousel-inner">
      <div class="item home-item active">
        <div class="carousel-fade">
        <div class="container animated fadeInUp">
          <div class="carousel-caption">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <h1>{{ heading }}</h1>
            <!-- <br/>
            <p class="caption lead">
              We stream your data through our custom analytics platform to alert unplanned events before they happen.
            </p> -->
          </div>
        </div>
        </div>
      </div>
    </div>

  </div><!-- /.carousel -->

  <br/>

  <div class="container">

  <br/>

<h3 class="text-center">Operator knowledge layered on top of Distributed Control Systems</h3>
<br>

  <div class="industrial-internet row text-center">
  	<div class="col-md-3">
      <p><i class="fa fa-bullhorn"></i></p>
        <h3>Alarms</h3>
      <p class="">
        View and add causes and solutions to your real-time Alarms.
  		</p>
    </div>
  	<div class="col-md-3">
      <p><i class="fa fa-sort-amount-asc"></i></p>
        <h3>Scenarios</h3>
      <p class="">
  	   	Create multi-sensor alarms to track, trend, and monitor events before they happen.
  		</p>
  	</div>
  	<div class="col-md-3">
      <p><i class="fa fa-area-chart"></i></p>
      <h3>Optimizer</h3>
      <p>
    		View and analyze optimal plant configurations in real-time to maximize product yields.
  		</p>
  	</div>
    <div class="col-md-3">
        <p><i class="fa fa-code-fork"></i></p>
        <h3>Sensors</h3>
      <p class="">
            Easily view real-time graphing and correlations between one or many sensors.
        </p>
    </div>
  </div>

  </div>

  <br/>
  <br/>

  <section id="plantcompare" data-type="background" data-speed="10" class="pages">
    <div class="container">

      <h3><i class="fa fa-cog"></i> Your Plant's Down - That's A Problem</h3>
      <div class="">
        <img src="{{assets}}/img/problem-graph.png" alt="problem-graph" width="1140" height="270" />
        <br/>
        <p>Every minute that unplanned downtime happens you:</p>
        <ul>
        <li>Lose Money</li>
        <li>Lose Control</li>
        <li>Lose Productivity</li>
        </ul>
        <p>Streamlyne solves this problem by alerting your operators and managers to potential issues so they are now proactive and not reactive.
        </p>
      </div>

    </div>
  </section>

  <br/>
  <br/>


    <div class="container">

      <blockquote class="testimonial">
        <p class="text-danger">Last month, our plant had a major “blockage” and if we had Streamlyne it could’ve predicted and helped prevent 3 days of downtime which cost us hundreds of thousands of dollars.</p>
        <footer>Early Adopter Customer of 15+ plants</footer>
      </blockquote>

    </div>

  <br/>
  <br/>

  <section class="section-blue">

    <div class="container">

      <h2 class="text-center">Benefits</h2>

      <div class="col-md-6">
        <h3><i class="fa fa-gears"></i>  Reduce Downtime</h3>
        <div class="">
          <p>Multi-sensor alarms predict unplanned events before they happen.</p>
        </div>
      </div>

      <div class="col-md-6">
        <h3><i class="fa fa-sliders"></i>  Optimize Product Yields</h3>
        <div class="">
          <p>Optimize your current infrastructure to get the most out of every barrel of oil or raw materials.</p>
        </div>
      </div>

      <div class="col-md-6">
        <h3><i class="fa fa-medkit"></i>  Increase Safety</h3>
        <div class="">
          <p>Monitor thousands of critical events in real-time to reduce fatalities and injuries.</p>
        </div>
      </div>


      <div class="col-md-6">
        <h3><i class="fa fa-star"></i>  Empower Employees</h3>
        <div class="">
          <p>Increase front-line capabilities by providing critical knowledge in real-time.</p>
        </div>
      </div>

    </div>

  </section>

</div>
