---
title: Home
heading: Predict and Prevent Plant Downtime
hidden: true
order: 1
---

<div class="home-page">
    
  <!-- Carousel
  Change your images in the main.css file.
  ================================================== -->
  <div id="header" class="carousel slide animated fadeIn">

    <div class="carousel-inner">
      <div class="item home-item active">
        <div class="carousel-fade">
        <div class="container animated fadeInUp">
          <div class="carousel-caption">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <h1>{{ heading }}</h1>
            <!-- <br/>
            <p class="caption lead">
              We stream your data through our custom analytics platform to alert unplanned events before they happen.
            </p> -->
          </div>
        </div>
        </div>
      </div>
    </div>

  </div><!-- /.carousel -->

  <br/>

  <div class="container">

  <br/>
  <br/>

  <div class="industrial-internet row text-center">
  	<div class="col-md-3">
      <p><i class="fa fa-fire"></i></p>
        <h3>Alarms</h3>
      <p class="">
        Automatically monitor critical processes and displays new insights and analytics
  		</p>
    </div>
  	<div class="col-md-3">
      <p><i class="fa fa-certificate"></i></p>
        <h3>Scenarios</h3>
      <p class="">
  	   	Create a smart digital oilfield by connecting your sensors, assets, and people
  		</p>
  	</div>
  	<div class="col-md-3">
  		<p><i class="fa fa-warning"></i></p>
        <h3>Optimizer</h3>
      <p class="">
    		Streamlyne alerts, tracks, and trends major problems before it's too late
  		</p>
  	</div>
    <div class="col-md-3">
        <p><i class="fa fa-warning"></i></p>
        <h3>Sensors</h3>
      <p class="">
            Streamlyne alerts, tracks, and trends major problems before it's too late
        </p>
    </div>
  </div>

  </div>

  <br/>
  <br/>

  <section id="plantcompare" data-type="background" data-speed="10" class="pages">
    <div class="container">

      <h3><i class="fa fa-cog"></i> Your Plant's Down - That's A Problem</h3>
      <div class="">
        <img src="{{assets}}/img/problem-graph.png" alt="problem-graph" width="1140" height="270" />
        <br/>
        <p>Every minute that unplanned downtime happens you:</p>
        <ul>
        <li>Lose Money</li>
        <li>Lose Control</li>
        <li>Lose Productivity</li>
        </ul>
        <p>Streamlyne solves this problem by alerting your operators and managers to potential issues so they are now proactive and not reactive.
        </p>
      </div>

    </div>
  </section>

  <br/>
  <br/>


    <div class="container">

      <blockquote class="testimonial">
        <p class="text-danger">Last month, our plant had a major “blockage” and if we had Streamlyne it could’ve predicted and helped prevent 3 days of downtime which cost us hundreds of thousands of dollars.</p>
        <footer>Early Adopter Customer of 15+ plants</footer>
      </blockquote>

    </div>

  <br/>
  <br/>

  <section class="section-blue">

    <div class="container">

      <h2 class="text-center">Benefits</h2>

      <div class="col-md-6">
        <h3><i class="fa fa-cogs"></i>  Increase Profit</h3>
        <div class="">
          <p>Streamlyne helps predict and prevent downtime, and puts the control back in the hands of operators and managers to eliminate unplanned, costly events.</p>
        </div>
      </div>

      <div class="col-md-6">
        <h3><i class="fa fa-medkit"></i>  Less Downtime</h3>
        <div class="">
          <p>Access the latest information on assets while working with hazardous chemicals, gases, and large interworking pieces of equipment.</p>
        </div>
      </div>

      <div class="col-md-6">
        <h3><i class="fa fa-smile-o"></i>  Better Planning</h3>
        <div class="">
          <p>Innovative tools give employees the power to reach individual and company goals making your company more efficient.</p>
        </div>
      </div>


      <div class="col-md-6">
        <h3><i class="fa fa-bar-chart-o"></i>  Improve Safety</h3>
        <div class="">
          <p>Make informed and safe decisions with live data while working in front of an asset.</p>
        </div>
      </div>

    </div>

  </section>

</div>
