---
title: Home
heading: Predict and Prevent Plant Downtime
---

<!-- Carousel
Change your images in the main.css file.
================================================== -->
<div id="header" class="carousel slide animated fadeIn">
  <div class="carousel-inner">
    <div class="item one active">
      <div class="container animated fadeInUp">
        <div class="carousel-caption">
          <h1>{{ heading }}</h1>
          <p class="lead margin-40"><em>We connect and collect data from your plant management systems and run this data through our custom analytics platform to alert, track, and trend major problems before they happen.</em></p>
          <!--
          <p>
          <blockquote>
          “Last month, our plant had a major “blockages” and “equipment failure” and if we had Streamlyne it could’ve predicted and helped prevent 3 days of downtime which cost us hundreds of thousands of dollars” - Early Adopter Customer of 15+ plants
          </blockquote>
          </p>
          -->
          <a class="btn-main" href="about.html"><i class="icon-chevron-right"></i> More</a>
        </div>
      </div>
    </div>
    <div class="item two">
      <div class="container">
        <div class="carousel-caption">
          <h1>Built With Bootstrap</h1>
          <p class="lead margin-40"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</em></p>
          <a class="btn-main" href="services.html"><i class="icon-chevron-right"></i> More</a>
        </div>
      </div>
    </div>
    <div class="item three">
      <div class="container">
        <div class="carousel-caption">
          <h1>100% Responsive</h1>
          <p class="lead margin-40"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</em></p>
          <a class="btn-main" href="pricing.html"><i class="icon-chevron-right"></i> More</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control hidden-phone" href="#header" data-slide="prev"><i class="icon-angle-left"></i></a>
  <a class="right carousel-control hidden-phone" href="#header" data-slide="next"><i class="icon-angle-right"></i></a>
</div><!-- /.carousel -->

<div class="container">

<div>
<h3>Less downtime</h3>
<div class="lead">
Today your plant is humming along, but on the night shift a critical component malfunctions or completely fails. As a result, your plant shuts down for emergency repair. How much will this cost? Do you have the extra parts on hand? How many employees does this affect? How does this affect your output and timelines? The unknown can be scary and costly. Streamlyne gives you the ability to be proactive by giving your operators and managers the alerts needed to prevent reactive consequences.
</div>

<h3>Better performance means satisfied customers</h3>
<div class="lead">
Interruptions in production and workflow directly impacts your customers, and your customers customer. Streamlyne allows your company to track and trend so that you can better predict events related to loss of production and affected timelines. With better planning, this gives your customer the best service and experience possible.
</div>

<h3>Improving Safety</h3>
<div class="lead">
Having the right information at all times protects you and your employees from harm. The ability to access the latest information on assets, lock-outs, blinds, CAD’s, procedures, work orders, and safety alerts while working on a piece of equipment is critical to safety when working with hazardous chemicals, gases, and large interworking pieces of equipment. This becomes even more important with new employees.
</div>

<h3>Real-time Data at your fingertips</h3>
<div class="lead">
We simplify the way oil and gas operators do their jobs.Streamlyne delivers live information that will gives you a complete overview of asset information, including critical information on hazard and safety alerts while working on a piece of equipment.

Collaborate and share knowledge 
<div class="lead">
New and senior employees can share knowledge on plant operations, which makes everybody and the entire company smarter.
</div>

</div>

</div>