---
title: Product
order: 2
hidden: false
---

<div class="product-page">

  <div id="header" class="carousel slide animated fadeIn">
    <div class="carousel-inner">
      <div class="item small-item product-item active">
        <div class="carousel-fade">
        <div class="container animated fadeInUp">
          <div class="carousel-caption" style="margin-top:140px;">
            <h1>Operator Knowledge<br/>Layered on Distributed Control Systems</h1>
            <br/>
            <p class="caption lead">
              Real-time information & intelligent tools give operators a longer runway to prevent unplanned events before they happen. 
            </p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->

  <div class="container">

    <br/>

    <div role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#sensors" aria-controls="sensors" role="tab" data-toggle="tab">Sensors</a></li>
        <li role="presentation"><a href="#scenarios" aria-controls="scenarios" role="tab" data-toggle="tab">Scenarios</a></li>
        <li role="presentation"><a href="#alarms" aria-controls="alarms" role="tab" data-toggle="tab">Alarms</a></li>
        <li role="presentation"><a href="#optimizer" aria-controls="optimizer" role="tab" data-toggle="tab">Optimizer</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="sensors">

            {{> product-sensors }}

        </div>
        <div role="tabpanel" class="tab-pane" id="scenarios">

            {{> product-scenarios }}

        </div>
        <div role="tabpanel" class="tab-pane" id="alarms">
            
            {{> product-alarms }}

        </div>
        <div role="tabpanel" class="tab-pane" id="optimizer">
            
            {{> product-optimizer }}

        </div>

      </div>

    </div>

    <br/>
    <br/>

  </div>

  <br/>
  <br/>
  <br/>

</div>
