
<section id="footer">
  <div class="container text-center">

    <h1>Contact Us</h1>

    <address>
                <p class="text-center">Streamlyne Technologies Ltd.</p>
                111 Pebble Creek Crescent Suite 208<br>
                Dartmouth, N.S. B2W 0L1<br>
                (902) 210-6735
                <br/>
                <a href="mailto:todd@streamlyne.co"><i class="icon-envelope-alt"></i> todd@streamlyne.co</a>
              </address>
  <ul class="nav navbar-nav navbar-right">
        <li>
      	  <a href="http://streamlyne.co">&copy; 2015 Streamlyne Technologies Ltd.</a>
        </li>
    </ul>

  </div>
</section>
