
<div id="footer">
  <div class="container text-center">

  <ul class="nav navbar-nav navbar-right">
        <li>
      	  <a class="btn btn-link" href="http://streamlyne.co">&copy; 2015 Streamlyne Technologies Ltd.</a>
        </li>
    </ul>

  </div>
</div>
