
<br/>
<br/>
<div class="row">
    <div class="col-md-12">
      <p>Easily view and graph multiple sensors to compare and trend data over time. For quick reference, view sensor highs, lows, averages, changes, and set points. Streamlyne features the ability to compare two seperate sensors in real time to view correlations and interactions.
      </p>
    </div>
  </div>


<div class="row">
    <div class="col-md-6">
      <h3>Graphing</h3>
      <p>A simple Google-style search allows you to view and compare any number of sensors to see their correlations. Easily filter sensors by date to view historical trends, correlations, and patterns. Operators can view highs, lows, averages, and set points for each sensor.
      </p>
    </div>

    </br>

    <div class="col-md-6">
      <img src="{{assets}}/img/Sensors_Select Sensors.png" />
    </div>
</div>


<br/>
<br/>
<br/>

<div class="row">

  <div class="col-md-6">
    <img src="{{assets}}/img/Sensors_Cubism_Comparison.png" />
  </div>

  <div class="col-md-6">
    <h3>Comparisons</h3>
    <p>Compare any two sensors to identify trends, correlations, and patterns in current and historical data. Easily view real-time stacked graphing to understand correlations of multiple sensors. 
    </p>
  </div>

</div>

<br/>


