
<br/>
<br/>
<div class="row">

  <div class="col-md-12">

    <p>An optimized plant is when current infrastructure is being used to generate as much end product from raw ingredients. Streamlyne allows operators to display every property within a recipe to ensure operators can see all sensors and correlations in one place so product yields are maximized.
    </p>
  </div>

</div>

<br/>

<div class="row">

  <div class="col-md-6">
    <h3>Recipe Loader</h3>
    <p>Recipes are stored and easily viewed in a list for easy access. Select the recipe your plant is processing that day.
    </p>
  </div>

  <div class="col-md-6">
    <span class="sl-big-icon glyphicon glyphicon-list" aria-hidden="true"></span>
  </div>

</div>

<br/>
<br/>
<br/>

<div class="row">

  <div class="col-md-6">
    <h3>Recipe Builder</h3>
    <p>Choose from the list of properties and sensors that make up your optimal products. 
    </p>
  </div>

  <div class="col-md-6">
    <span class="sl-big-icon glyphicon glyphicon-th" aria-hidden="true"></span>
  </div>

</div>


<br/>
<br/>
<br/>

<div class="row">

  <div class="col-md-6">
    <span class="sl-big-icon fa fa-laptop" aria-hidden="true"></span>
  </div>

  <div class="col-md-6">
    <h3>Preview & Save</h3>
    <p>Preview and Save the recipe before it is added to the Recipe Loader. These can be edited at any time.
    </p>
  </div>

</div>

<br/>


</div>
