
<br/>
<br/>
<div class="row">

  <div class="col-md-12">

    <p>Streamlyne makes it easy to see everything you need to monitor and predict when an unplanned event might occur. Select any scenario to view real-time trends and graphs of all triggers (sensors) in one place. When all sensors have been breached you recieve an alert in real-time.
    </p>
    <br/>

  </div>
</div>

</br>

<div class="row">

  <div class="col-md-12">
    <h3>Real-Time</h3>
    <p>Watch sensors graph values in real-time to monitor their status, and view interactions between sensors automatically. This time-series visualization provides detailed information on interacting sensors in once quick snapshot.
    </p>
  </div>

  <div class="col-md-12">
    <img src="{{assets}}/img/Scenarios_Realtime_High H2S.png" />
  </div>

</div>

</br>


<div class="row">

  <div class="col-md-12">

    <h3>Create Scenario</h3>
    <p>Create a unique name for your scenario, and an overall recommendation to solve this problem. A simple Google-style search means searching for sensors is intuitive and fast. A scenario can have unlimited sensors to help predict when a scenario will occur. Continue adding more sensors by clicking “Add Sensor”.
    </p>
    <br/>

  </div>

  <div class="right-column col-md-12">
    <img src="{{assets}}/img/Scenarios_Add Sensor.png"/>
  </div>

</div>

<br/>
<br/>

<div class="row">

  <div class="col-md-6">
    <img src="{{assets}}/img/Scenarios_Stats.png" />
  </div>

  <div class="col-md-6">
    <h3>Stats</h3>
    <p>Easily view real-time stacked graphing to understand correlations of multiple sensors. Operators can view highs, lows, averages, and set points for each sensor.
    </p>
  </div>

</div>

<br/> 
<div class="row">

  <div class="col-md-6">
    <h3>Trigger Notes</h3>
    <p>Adding a note will help contain important information when a specific sensor is triggered and helps operators solve issues quickly.
    </p>
  </div>

  <div class="col-md-6">
    <img src="{{assets}}/img/Scenarios_Trigger Notes.png" />
  </div>

</div>

<br/> 

