
<br/>
<br/>

<div class="row">

  <div class="col-md-12">

    <p>Operators can view and input causes and solutions to build a repository of real-time information and employees knowledge. More information around causes and solutions means better decision making and less unplanned downtime. This encourages Senior Operators to impart their knowledge on new employees.</p>
    <br/>

  </div>
</div>


<br/>
<br/>
<br/>

<div class="row">

  <div class="col-md-6">
    <h3>Causes</h3>
    <p>When a single DCS or multi-sensor alarm (scenario alarm) is triggered, operators can view and input the cause for that alarm. Over time, as operators input more causes and select pre-existing causes, a ranking system will appear for operators to refer to, reducing the time for diagnosing problems.
    </p>
  </div>

  <div class="col-md-6">
    <img src="{{assets}}/img/Alarms - Cause.png" />
  </div>

</div>

</br>
</br>

<div class="row">

  <div class="col-md-6">
    <img src="{{assets}}/img/Alarms - Solutions.png" />
  </div>

  <div class="col-md-6">
    <h3>Solutions</h3>
    <p>After a Cause has been determined, an operator can input or view solutions to efficiently rectify the cause for the alarm.
    </p>
  </div>

</div>

</br>

<div class="row">

  <div class="col-md-6">
    <h3>Rankings</h3>
    <p>An alarm may have existing causes and solutions. If a pre-existing cause or solution applies to this alarm, simply click, "Accept". This information is ranked at the top of the list by popularity.
    </p>
  </div>

  <div class="col-md-6">
    <img src="{{assets}}/img/CauseSolutionRanking.png" />
  </div>

</div>

<br/>
<br/>
<br/>

<div class="row">

  <div class="col-md-6">
    <img src="{{assets}}/img/Charts - Alarms.png" />
  </div>

  <div class="col-md-6">
    <h3>Stats</h3>
    <p>This is where operators can view the predictive analytics value for each scenario. Streamlyne analyzes each sensor when a scenario is built and can predict when a scenario will happen. Operators can view high, low, and set points for each sensor as well for quick reference. Get a real-time snapshot of every sensor within a scenario. This allows operators to visually see sensors as they fluctuate and as they correlate with other sensors.
    </p>
  </div>

</div>


<br/>
<br/>
<br/>

