{% extends "base.html" %}

{% block content %}
<!-- Carousel
Change your images in the main.css file.
================================================== -->
<div id="header" class="carousel slide animated fadeIn">
  <div class="carousel-inner">
    <div
      id="sl-overlay"
      class="item active">
    </div>

    <div class="item one active">
      <div class="container animated fadeInUp">

        <div class="carousel-caption">
          <h2>
          Interactive 3D/2D CAD Analytics
          <br>
          <font style="font-size:24px;">
          Currently working with early adopter customers.  To participate, please contact us.
          </font>
          </h2>
        </div>

      </div>
    </div>
  </div>
</div><!-- /.carousel -->


<!--Services-->
<section id="services"
  class="sl-section">

  <div class="container">

    <div class="row text-center">

      <!--Seciton 1-->
      <div class="span4 service margin-30">
        <a href="#">
          <i id='sl-prod-icon' class="icon-cogs icon-4x"></i>
          <h3>Increase Productivity</h3>
        </a>
      </div>

      <!--Seciton 2-->
      <div class="span4 service margin-30">
        <a href="#">
          <i id='sl-cost-icon' class="icon-tablet icon-4x"></i>
          <h3>Reduce Cost</h3>
        </a>
      </div>

      <!--Seciton 3-->
      <div class="span4 service margin-30">
        <a href="#">
          <i id='sl-safe-icon' class="icon-thumbs-up icon-4x"></i>
          <h3>Safety & Compliance</h3>
        </a>
      </div>

    </div>

    <div class="row-fluid">
      <p id="sl-prod-text">
        Our platform can help save a minimum of 5 employee hours per week. Employees and managers can easily view and interact with your 3D/2D CAD diagrams, parts profiles, manuals, procedures, maintenance and repair information in one platform. Imagine the employees assembling your products or operating within your plant, staring and sorting through mounds of paperwork trying to figure out their work for the day or looking for an answer to their problem.  Streamlyne has completely automated the process so within a few simple clicks, your employees will have every piece of information they need to complete their work with ease and efficiency.
      </p>
      <p id="sl-cost-text">
        Our platform provides excellent value to all customers through substantial cost savings.  Currently we have an early adopter customer with 15+ plants that has independently projected a savings of at least $1.3million annually through the use of Streamlyne’s technology.  Developed from the ground up with feedback from manufacturing plants, Streamlyne has a simple learning curve that easily integrates into your employee’s daily workflow.  Employees rave about how much easier their roles are with the Streamlyne platform, while management experiences the always sought after cost savings.
      </p>
      <p id="sl-safe-text">
        Our platform creates employee traceability and accountability in meeting safety and compliance standards. One of the key benefits of our platform is the ability to provide real-time and critical safety information before potential issues occur. The problem of looking at mountains of paper from many sources can provide inaccurate and unforeseen safety concerns. Imagine the ability to accurately track and monitor product performance throughout its lifecycle.  This will allow companies to recognize trends and stay ahead of potential issues while providing them the ability to communicate and send alerts when necessary company wide.
      </p>
    </div>

    <div class="row-fluid">
      <blockquote>
        <h3>We simplify and streamline manufacturing employees daily work flow and provide key analytics to managers so they can be great at their jobs. </h3><br>
        <cite><font style="font-size:24px;">Todd Murphy - CEO</font></cite>
      </blockquote>
    </div>

  </div>
</section>


<!--Message Section-->
<section id="message"
  class="sl-section">
  <div class="container">

    <div class="row margin-40">
      <div class="span12 text-center dark-gray">
        <h3>Our Platform</h3>
      </div>
    </div>

    <div class="row-fluid">

      <!--News Article-->
      <div class="span3 text-center latest-article">
        <div id="sl-image-ipad"
         class="sl-news-image">
        </div>
        <p>
          <b>iOS Mobile platform and Web App</b><br/>
          Our management analytics and employee application is built natively for iPad, iPad Mini, and iPhone.  We also provide a web companion for managers and employees to use at their desktop. Employees working in demanding and tight spaces now have the ability to access necessary information on multiple devices.We also integrate with Asset Management Systems such as IBM Maximo and SAP.

        </p><br />
      </div>

      <!--News Article-->
      <div class="span3 text-center latest-article">
        <div id="sl-image-annotations"
         class="sl-news-image">
        </div>
        <p>
          <b>Interactive 3D/2D CAD Profile</b><br/>
          No more screen clutter or looking through mountains of paperwork and diagrams. Our platform allows employees to easily search, view, and interact with any part or component in 3D/2D CAD, such as: video/voice/text annotations, timeline history, procedures, work orders, operating parameters, manuals, photos/videos, and training. Our innovative technology will sync all this together in one profile.
        </p><br />
      </div>

      <!--News Article-->
      <div class="span3 text-center latest-article">
        <div id="sl-image-communication"
         class="sl-news-image">
        </div>
        <p>
          <b>Employee/Operator App</b><br/>
          Our beautifully designed operator app is simple and easy to use with features, such as: Dashboard - quick access to all information; Inbox - send and receive messages to employees and managers; Groups -  creates collaborative groups for your shift or anyone that is important to your job; Parts -  your interactive 3D/2D CAD parts profile; Manuals - easily view detailed and complicated manuals and documents.
        </p><br />
      </div>

      <!--News Article-->
      <div class="span3 text-center latest-article">
        <div id="sl-image-manuals"
         class="sl-news-image">
        </div>
        <p>
          <b>Management Analytics</b><br/>
          Our platform generates real time insights and analytics of your employees, product and plant operations.Information tracking possibilities are vast and cover many different areas such as: onsite daily productivity, identify bottlenecks in product assembly, maintenance and repair cost analysis, part and component analysis down to the nut and bolt, and other actions and insights.
        </p><br />
      </div>
      </div>
    </div>
  </div>
</section>

<!--Bottom Section-->
<section id="bottom"
  class="sl-section">
  <div class="container">
    <div class="row margin-40">
      <div class="span10 offset1 text-center">
        <p>111 Pebble Creek Crescent Suite 208, Dartmouth, N.S. B2W 0L1 | 902.210.6735 |  <a href="mailto:info@streamlyne.co"><i class="icon-envelope-alt"></i> info@streamlyne.co</a></p>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="span10 offset1 text-center">
        <!--Social Icons-->
        <ul class="social-icons">
          <li><a class="twitter" href="http://www.twitter.com/getstreamlyned" target="_blank"><i class="icon-twitter icon-3x"></i></a></li>
          <li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><i class="icon-linkedin icon-3x"></i></a></li>
        </ul>
      </div>
    </div>

  </div>
</section>
{% endblock %}

{% block foot_script %}
<script>

  (function( rotateServices, undefined ){
    var rotateTime = 4000;
    var fadeTime = 200;
    var i = 0;
    var text = [
      $('#sl-prod-text'),
      $('#sl-cost-text'),
      $('#sl-safe-text')
    ];

    var icon = [
      $('#sl-prod-icon'),
      $('#sl-cost-icon'),
      $('#sl-safe-icon')
    ];

    function rotateText() {
      text[i % 3].hide();
      icon[i % 3].animate({
        color: '#dfe5e8'
      }, fadeTime);

      i++;

      text[i % 3].show();
      icon[i % 3].animate({
        color: '#626c72'
      }, fadeTime);
    }

    text[1].hide();
    icon[1].css({
      color: '#dfe5e8'
    });
    text[2].hide();
    icon[2].css({
      color: '#dfe5e8'
    });

    var rotateId = setInterval(rotateText, rotateTime);

    $('#sl-prod-icon').on('mouseenter', function(event) {
      clearInterval(rotateId);
      text[i % 3].hide();
      icon[i % 3].animate({
        color: '#dfe5e8'
      }, fadeTime);

      i=0;

      text[i].show();
      icon[i].animate({
        color: '#626c72'
      }, fadeTime);
    });

    $('#sl-prod-icon').on('mouseleave', function(event) {
      rotateId = setInterval(rotateText, rotateTime);
    });

    $('#sl-cost-icon').on('mouseenter', function(event) {
      clearInterval(rotateId);
      text[i % 3].hide();
      icon[i % 3].animate({
        color: '#dfe5e8'
      }, fadeTime);

      i=1;

      text[i].show();
      icon[i].animate({
        color: '#626c72'
      }, fadeTime);
    });

    $('#sl-cost-icon').on('mouseleave', function(event) {
      rotateId = setInterval(rotateText, rotateTime);
    });

    $('#sl-safe-icon').on('mouseenter', function(event) {
      clearInterval(rotateId);
      text[i % 3].hide();
      icon[i % 3].animate({
        color: '#dfe5e8'
      }, 200);

      i=2;

      text[i].show();
      icon[i].animate({
        color: '#626c72'
      }, 200);
    });

    $('#sl-safe-icon').on('mouseleave', function(event) {
      rotateId = setInterval(rotateText, rotateTime);
    });
  })( window.rotateServices = window.rotateServices || {});

</script>
{% endblock %}

