{% extends "base.html" %}

{% block content %}
<!--Content-->
<section id="content1">
  <div class="container">
    <div class="row margin-60">
      <div class="span12">
        <h3>Management Analytics</h3>
        <p>
          Our Management Analytics platform will provide a dashboard for realtime business insights and analytics of your manufacturing operations. During our early adopter phase, we are working with companies to incorporate their feedback what analytics they would like to see and what other key insights are valuable their company. Some of the analytics that Streamlyne will focus on, but not limited to are: employee productivity analysis, identify bottlenecks in assembly, part and component analysis, cost analysis, part/component CAD hotspot analytics, realtime alerts, Asset Management System integration (Maximo and SAP), and multi-plant operations analytics.
         </p>
      </div>
    </div>

    <!--First Service Row-->
    <div class="row-fluid">
      <div class="span6 margin-60">
        <div class="row-fluid">
          <div class="span3 service-icons text-center">
            <i class="icon-thumbs-up icon-4x light-gray"></i>
          </div>

          <div class="span9 text-left">
            <h3>Productivity Analysis</h3>
            <p>
              Whether you have 5 or 5,000 employees working in your manufacturing operation, it's critical that you get the best productivity and quality work from your employees. Streamlyne can help managers view and analyze employee actions, patterns, and behaviours that they perform on a  daily basis and help them become more efficient at their job. For example, knowing how long it will take your employees to assemble products, fix parts, and install components will enable managers to help analyze and predict: product delivery times, assembly completions, ensure customer happiness for product quality, and improve employee productivity.
            </p>
          </div>
        </div>
      </div>

      <div class="span6 margin-60">
        <div class="row-fluid">
          <div class="span3 service-icons text-center">
            <i class="icon-exchange icon-4x light-gray"></i>
          </div>

          <div class="span9 text-left">
            <h3>API Integration</h3>
            <p>
              Streamlyne has developed a private API that partners and customers can integrate with to push data to other internal applications. Our API is completely RESTful so that it's easy to work with, clean documentation, and secure. Once you're a customer or partner, we'd be happy to explore ways our API can benefit your organization.
            </p>
          </div>
        </div>
      </div>
    </div>


    <!--Second Service Row-->
    <div class="row-fluid">
      <div class="span6 margin-60">
        <div class="row-fluid">
          <div class="span3 service-icons text-center">
            <i class="icon-list icon-4x light-gray"></i>
          </div>


          <div class="span9 text-left">
            <h3>Bottlenecks in Production & Assembly</h3>
            <p>
              With so many moving parts in a manufacturing operation, employees doing many jobs at once, and assembly happening in par with other components. It's extremely busy and any second deviation can cause massive costs and lost production. Our realtime analytics can help identify potential bottlenecks in production before they occur or happening in realtime. This will give a manager the opportunity view data and allocate sufficient resources to address the problem and fix it so it never happens again. For example, your employee is assembling a wing of a plane and you consistently notice that a component takes longer to build that other shifts. You can react and provide the necessary training, information, or additional help.
            </p>
          </div>

        </div>
      </div>

      <div class="span6 margin-60">
        <div class="row-fluid">
          <div class="span3 service-icons text-center">
            <i class="icon-bullhorn icon-4x light-gray"></i>
          </div>

          <div class="span9 text-left">
            <h3>Real time Alerts</h3>
            <p>
              Managers and executives need access to realtime information to make operational decisions immediately, not days or weeks later. Our platform will alert managers to anything that is out of spec so they can address it and prevent costly issues from occurring. Having access to realtime alerts from one or many plants will allow managers to be closer aligned with operational performance and help visualize data to get to the root causes of problems. Streamlyne will notify you through our platform, email, or potentially text.
            </p>
          </div>

        </div>
      </div>
    </div>

    <!--Second Service Row-->
    <div class="row-fluid">
      <div class="span6 margin-60">
        <div class="row-fluid">
          <div class="span3 service-icons text-center">
            <i class="icon-bar-chart icon-4x light-gray"></i>
          </div>

          <div class="span9 text-left">
            <h3>CAD Hotspot Analysis</h3>
            <p>
              Our platform will allow managers and executives a quick hotspot view and visual representation of any part or component being worked on their 3D/2D CAD diagram. Imagine sitting in your office or viewing on your iPad a 3D/2D CAD of an airplane, oil & gas plant, or automobile and being able to hover and view what an employee is working on in realtime. Streamlyne will show highlighted components and key analytics for each employee such as: what part of assembly they are working on, how long the procedures or assembly is taking, overall time assembly, and many other key analytics. This will give you a quick hotspot glance and visual representation of your operations in 3D/2D CAD.
            </p>
          </div>

        </div>
      </div>

      <div class="span6 margin-60">
        <div class="row-fluid">
          <div class="span3 service-icons text-center">
            <i class="icon-money icon-4x light-gray"></i>
          </div>

          <div class="span9 text-left">
            <h3>Cost Analysis & ROI</h3>
            <p>
              Streamlyne provides analytics to help managers and executives make decisions to reduce costs, eliminate operational downtime, and most importantly, improve ROI of their operations. Managers can easily assign costs to any part, component, or piece of equipment in a 3D/2D CAD file and Streamlyne helps identify, analyze, and sends an alert if there's a cost is out spec. Imagine having three separate employee shifts and a pump keeps breaking and being replaced without the other shift knowing. It will cost many thousands to keep replacing this part. Streamlyne can help identify this situation and alert a manager to take action.
            </p>
          </div>

        </div>
      </div>
    </div>

    <!--Third Service Row-->
    <div class="row-fluid">
      <div class="span6 margin-60">
        <div class="row-fluid">
          <div class="span3 service-icons text-center">
            <i class="icon-wrench icon-4x light-gray"></i>
          </div>

          <div class="span9 text-left">
            <h3>Asset Management System Integrations</h3>
            <p>
              Employees use complicated and time consuming paper processes to submit maintenance and repair work orders. We easily integrate with major Asset Management Systems such as IBM Maximo and SAP. With one click, an employee or operator can search any 3D/2D CAD file and view complete work order history for a specific component or part, add a work order to Maximo or SAP, and view other key information as required. For example, an employee needs to change the oil on compressor. They can search for that CAD file, view the work order history, and then submit an order to Maximo or SAP. It's that easy.
            </p>
          </div>

        </div>
      </div>

      <div class="span6 margin-60">
        <div class="row-fluid">
          <div class="span3 service-icons text-center">
            <i class="icon-sitemap icon-4x light-gray"></i>
          </div>

          <div class="span9 text-left">
            <h3>Multi-Site</h3>
            <p>
              Imagine sitting at your desk and viewing all your 3D/2D CAD projects and what employees are working on and receiving realtime analytics from all plants in one simple dashboard. Streamlyne is built to work with as many manufacturing plants as your company operates. Our platform can easily show managers and executives important information they need to see. All information flows from the Employee/Operator App to the manager analytics dashboard so they can easily view individual plant analytics. Companies that have numerous plants find it difficult to aggregate, visualize, and compare how plants are doing.
             </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!--Bottom Section-->
<section id="bottom">
  <div class="container">
    <div class="row margin-40">
      <div class="span10 offset1 text-center">
        <p>111 Pebble Creek Crescent Suite 208, Dartmouth, N.S. B2W 0L1 | 902.210.6735 |  <a href="mailto:info@streamlyne.co"><i class="icon-envelope-alt"></i> info@streamlyne.co</a></p>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="span10 offset1 text-center">
        <!--Social Icons-->
        <ul class="social-icons">
          <li><a class="twitter" href="http://www.twitter.com/getstreamlyned" target="_blank"><i class="icon-twitter icon-3x"></i></a></li>
          <li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><i class="icon-linkedin icon-3x"></i></a></li>
        </ul>
      </div>
    </div>

  </div>
</section>
{% endblock %}