{% extends "base.html" %}

{% block content %}
<section id="content2" style="padding-bottom:0px;">
  <div class="container">

    <div class="row magrin-40 text-center">
      <img src="img/team_1.jpg">
    </div>
  </div>
</section>


<!--Content-->
<section id="content2" style="padding-top:2em;">
  <div class="container">
      
      
    <!-- Todd Quote -->
     <blockquote class="">
        <p class="lead" style="color: #626c72">We simplify and streamline manufacturing employees daily work flow and provide key analytics to managers so they can be great at their jobs.</p>
        <small class="lead"><cite>Todd Murphy, CEO</cite></small>
     </blockquote>

    <!--Todd-->
    <div class="row margin-40">

      <div class="span4 margin-30">
        <div class="row-fluid">
          <div class="span12 team-member">
            <img src="img/todd.jpg" alt="Title">
          </div>

          <div class="row-fluid text-center">
            <div class="span6 pull-left team-info">
              <h4><span class="white">Todd Murphy</span></h4>
            </div>

            <div class="span6 pull-right socialize">
              <ul class="unstyled inline">
                <li><a class="" href="mailto:todd@streamlyne.co" ><i class="icon-envelope icon-large"></i></a></li>
                <li><a class="linkedin" href="http://ca.linkedin.com/in/toddnmurphy" target="_blank"><i class="icon-linkedin icon-large"></i></a></li>
                <li><a class="twitter" href="https://twitter.com/murphytodd" target="_blank"><i class="icon-twitter icon-large"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="span8">
        <h3>Chief Executive Officer</h3>
        <br>
        Todd is passionate about building long term customer relationships, creating an amazing product and user experience, and using innovative technology to improve the daily lives of manufacturing operations. Todd is an experienced executive who is skilled at building top quality teams, bringing new products to market, and leading by example. Todd's inspiration for Streamlyne stems from his extensive background in manufacturing operations after spending three years in McCain Foods Ltd. Production Management Leadership Program.
        <br><br>
        Previously, Todd was the CEO and co-founder of MedRunner, an electronic prescription platform that connected national pharmacy chains, major insurance companies, pharmaceutical companies, and physicians. For three and a half years, Todd was responsible for all aspects of the company operations, strategic partnerships, and raising $2.0 million in funding. 
        <br><br>
        Todd received his BComm from Saint Mary's University and MBA from the University of New Brunswick.
        <br><br>
        In his free time, Todd likes to watch and play all sports, mentor other entrepreneurs and start-ups, speak to students, and tries to win his fantasy football every year.
        <br><br>
        If you would like to get in touch, please contact me on my cell at (902) 210 - 6735.
        <br>
        </div>

    </div>

    <!--Glavin-->
    <div class="row margin-40">

      <div class="span4 margin-30">
        <div class="row-fluid">
          <div class="span12 team-member">
            <img src="img/glavin.jpg" alt="Title">
          </div>

          <div class="row-fluid text-center">
            <div class="span6 pull-left team-info">
              <h4><span class="white"> Glavin Wiechert</span></h4>
            </div>

            <div class="span6 pull-right socialize">
              <ul class="unstyled inline">
                <li><a class="" href="mailto:glavin@streamlyne.co" ><i class="icon-envelope icon-large"></i></a></li>
                <li><a class="linkedin" href="http://ca.linkedin.com/in/glavin" target="_blank"><i class="icon-linkedin icon-large"></i></a></li>
                <li><a class="twitter" href="https://twitter.com/GlavinW" target="_blank"><i class="icon-twitter icon-large"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="span8">
        <h3>VP of Engineering</h3>
        <br>
        Glavin is obsessed with beautiful product design, user experience, and making our product simple and easy to use. Glavin is skilled in all aspects of software development, focusing on: Objective C, C, C++, Python, Java, JavaScript, and HTML5.
        <br><br>
        Glavin's most recent work was with Compilr helping build an innovative application that allows developers to write and learn code online. Glavin played a key role in helping design the product to enter into the education market as a self help learning tool for students to learn how to code. 
        <br><br>
        Glavin is an avid participant in the startup community, competing in local and regional hackathons and winning several awards and competitions within the development community. 
        <br><br>
        Glavin is a strong believer in paying it forward. In his spare time, Glavin volunteers his time within local schools educating and inspiring young developers how technology can impact everyone's lives. 
        <br><br>
        Glavin would love to hear your feedback on our product and talk to you about how to make it better. Please contact Glavin at (902) 225-7035.
      </div>

    </div>


    <!--Neil-->
    <div class="row margin-40">

      <div class="span4 margin-30">
        <div class="row-fluid">
          <div class="span12 team-member">
            <img src="img/neil.jpg" alt="Title">
          </div>

          <div class="row-fluid text-center">
            <div class="span6 pull-left team-info">
              <h4><span class="white"> Neil Cody </span></h4>
            </div>

            <div class="span6 pull-right socialize">
              <ul class="unstyled inline">
                <li><a class="" href="mailto:neil@streamlyne.co" ><i class="icon-envelope icon-large"></i></a></li>
                <li><a class="linkedin" href="http://ca.linkedin.com/pub/neil-cody/58/355/7b0" target="_blank"><i class="icon-linkedin icon-large"></i></a></li>
                <li><a class="twitter" href="https://twitter.com/Pursuitfan" target="_blank"><i class="icon-twitter icon-large"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="span8">
        <h3>VP of Sales and Business Development</h3>
        <br>
        Neil's expertise is building trusting relationships with our customers to ensure our product and service far exceeds their expectations. 
        <br><br>
        Previously, Neil spent the last year and a half building a micro crowdfunding platform for high performance athletes, called Pursu.it. Neil is known for his ability to drive sales, inspire growth, and develop strategic partnerships. 
        <br><br>
        Neil received his BComm from St. Mary's University, a BEd from the University of Maine at Fort Kent, and his MBA from the University of New Brunswick.
        <br><br>
        When Neil's not taking care of our customers, he prides himself on his participation in sports.  He has spent many years playing and coaching football at the high school and university level.  He also enjoy golf, hockey, baseball and beating Todd in Fantasy Football. 
        <br><br>
        If you'd like to discuss our product and how it can make your operations better, please contact Neil at (902) 579 - 9311.
        <br>
      </div>

    </div>

    <!--Dawson-->
    <div class="row margin-40">

      <div class="span4 margin-30">
        <div class="row-fluid">
          <div class="span12 team-member">
            <img src="img/dawson.jpg" alt="Title">
          </div>

          <div class="row-fluid text-center">
            <div class="span6 pull-left team-info">
              <h4><span class="white"> Dawson Reid</span></h4>
            </div>

            <div class="span6 pull-right socialize">
              <ul class="unstyled inline">
                <li><a class="" href="mailto:dawson@streamlyne.co" ><i class="icon-envelope icon-large"></i></a></li>
                <li><a class="linkedin" href="http://ca.linkedin.com/in/dawsonreid" target="_blank"><i class="icon-linkedin icon-large"></i></a></li>
                <li><a class="twitter" href="https://twitter.com/DawsonReid" target="_blank"><i class="icon-twitter icon-large"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="span8">
        <h3>Chief Technology Officer</h3>
        <br>
        Dawson is motivated to build our platform to scale to world class enterprises.
        <br><br>
        Dawson specializes in database and server side development, product design, network security, natural language processing, machine learning, Hadoop, API design, C, C++, Java, Python, JavaScript, HTML5, and all major operating systems and major database systems.
        <br><br>
        Most recently, Dawson worked for a network security startup focusing on the development of bleeding edge enterprise NetFlow capture software for both internal and end user use. Dawson was responsible for the development of a web-reporting interface capable of generating dynamic visualisations of large data sets and a complementary mobile application.
        <br><br>
        In his free time, Dawson likes to volunteer in the community speaking to high school students and teaching them to code. Dawson also participates in local hackathons winning numerous awards and recognition in the development community.
        <br><br>
        For all technical, product, and support questions, please contact Dawson at (902) 222 - 4914.
        <br>
      </div>

    </div>
    <!--End Team Member Row-->

  </div>
</section>

<!--Bottom Section-->
<section id="bottom">
  <div class="container">
    <div class="row margin-40">
      <div class="span10 offset1 text-center">
        <p>111 Pebble Creek Crescent Suite 208, Dartmouth, N.S. B2W 0L1| 902.210.6735 |  <a href="mailto:info@streamlyne.co"><i class="icon-envelope-alt"></i> info@streamlyne.co</a></p>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="span10 offset1 text-center">
        <!--Social Icons-->
        <ul class="social-icons">
          <li><a class="twitter" href="http://www.twitter.com/getstreamlyned" target="_blank"><i class="icon-twitter icon-3x"></i></a></li>
          <li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><i class="icon-linkedin icon-3x"></i></a></li>
        </ul>
      </div>
    </div>

  </div>
</section>
{% endblock %}