
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

            <h1>Contact Us</h1>

            <address>
                        <p class="text-center">Streamlyne Technologies Ltd.</p>
                        111 Pebble Creek Crescent Suite 208<br>
                        Dartmouth, N.S. B2W 0L1
                        <br/>
                        <a href="mailto:todd@streamlyne.co"><i class="icon-envelope-alt"></i> todd@streamlyne.co</a>
                      </address>
      </div>
    </div>
  </div>
