
<!-- Contact Section -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Benefits &amp; Value</h1>

        <div class="row">

          <div class="col-md-6">
            <img src="{{assets}}/img/circleicons/money.png"/>
            <h2>Reduce Downtime</h2>
            <p>
              In today’s competitive climate, slight increases in production efficiency have dramatic impacts on revenue and profitability. Both large and small unplanned events cost millions of dollars annually. Streamlyne can help increase revenue and profits by reducing unplanned shutdowns and improving operations.
            </p>
          </div>

          <div class="col-md-6">
            <img src="{{assets}}/img/circleicons/tools.png"/>
            <h2>Operator Knowledge</h2>
            <p>
              Operator knowledge is now documented and built into each sensor alarm and our predictive analytic algorithms. Streamlyne ensures DCS systems gather experiential information from experienced employees so that decades of “know-how” simply doesn’t walk out the door and leave the company. A catalogue of knowledge is built to benefit new employees and help them do their jobs better.
            </p>
          </div>

          <div class="col-md-6">
            <img src="{{assets}}/img/circleicons/caution.png"/>
            <h2>Decrease Emissions &amp; Penalties</h2>
            <p>
              By providing diagnostic information, operators can act quickly and identify problems before they escalate. This decreases product waste, improves safety, and decrease overall emissions. Not only is this beneficial for the environment and surrounding communities but it decreases costly penalties.
            </p>
          </div>

          <div class="col-md-6">
            <img src="{{assets}}/img/circleicons/traffic.png"/>
            <h2>Increase Safety</h2>
            <p>
              Streamlyne’s capabilities will help empower control room operators with the ability to view upcoming critical situations and increases their decision making timeframe. Pre-emptively detecting events help improve safety as it avoids fast, reactive, and hesitant decisions that can lead to worker groups being put in harmful situations.
            </p>
          </div>

        </div>

      </div>
    </div>
  </div>
