  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Understand When Things Go Wrong</h1>
        <br/>

        <p>
          In one glance, visualize a real-time ripple effect of any major or minor event in your plant. Streamlyne’s interactive graph’s allow you to drill-down and easily view what alarms and sensors are involved with an unplanned downtime event
        </p>
        <svg class="tree-chart"></svg>

        <br/>

        <h2>Flare/Product Off Spec Event - Prediction (1st Key Node)</h2>
        <p>
          It’s simple for a control room operator to trace and monitor an event. As you can see in the flare example, there are four (4) levels of sensors involved in this ripple effect. The first major node identifies the event (flare), and the operator can drill
          down to the 2nd (Main Categories) level, 3rd (Total Spending level) , and 4th (Transportation) level of sensor data and alarm information to diagnose the impending event. Now, the operator can easily make the adjustments in their DCS to the
          correct settings.
        </p>

        <br/>

        <h2>Key Stats (Gross Public Deficit)</h2>
        <p>
          Easily visualize key stats and probability that a minor or major event will potentially occur, with key information such as Set Point and Deviation. In this example, the data and visualization shows that there is a prediction of 65% that a flare event
          will likely occur.
        </p>
      </div>
    </div>
  </div>
