
<!-- Contact Section -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>How It Works</h1>
        <p>Streamlyne easily layers on top of your DCS and has no impact to your current IT systems. It’s a simple setup process and within a day we can have your control room operators up and running.
        </p>
        <br/>

        <div class="row">
          <div class="col-md-8">
            <h3>DCS API Integration</h3>
            <p>
              We integrate Streamlyne with your existing DCS to stream your sensor data in real-time. Streamlyne easily integrates with all major DCS providers, such as: ABB, Invensys, Honeywell, and Siemens.
            </p>
          </div>
          <div class="col-md-4">
            <img src="{{assets}}/img/circleicons/gear.png"/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <h3>Stream Data In Real-Time</h3>
            <p>
              Once integrated, Streamlyne analyzes millions of data points for your onshore and offshore processing facilities. Streamlyne can stream 10,000+ sensors per second to ensure scalability regardless of facility size.
            </p>
          </div>
          <div class="col-md-4">
            <img src="{{assets}}/img/circleicons/settings.png"/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <h3>Predictive Analytics</h3>
            <p>
              Streamlyne's technology helps managers and control room operators to predict current DCS alarms and sensor data to recognize critical events (off spec product, flaring, hydrates, plant shutdowns, pipeline leaks, etc.) before they happen.
            </p>
          </div>
          <div class="col-md-4">
            <img src="{{assets}}/img/circleicons/computer.png"/>
          </div>
        </div>


        <div class="row">
          <div class="col-md-8">
            <h3>Cloud or On Premise</h3>
            <p>
              Streamlyne was built to harness the power and processing of the cloud. Our infrastructure is built on top on world leader, Amazon Web Services (AWS); however, we recognized that some companies prefer to installed on premise. Streamlyne can easily accommodate
              both cloud and on premise installation.
            </p>
          </div>
          <div class="col-md-4">
            <img src="{{assets}}/img/circleicons/upload.png"/>
          </div>
        </div>

      </div>
    </div>
  </div>
