
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Predictive Analytics</h1>

        <br/>
        <br/>

        <div class="row">
          <div class="col-md-4">
            <img src="{{assets}}/img/circleicons/pie-chart.png"/>
          </div>
          <div class="col-md-8">
            <h3>Predictive Analytics</h3>
            <p>
              Our predictive analytics automatically detect potential alerts and failures minutes, days, weeks, and months before they happen. Streamlyne helps identify root problems and predict the likely chain of events leading up to a potential failure. Streamlyne’s algorithms help detect sensor trends that cause a ripple effect by detecting anomalies that could affect safety or operations.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <img src="{{assets}}/img/circleicons/calculator.png"/>
          </div>
          <div class="col-md-8">
            <h3>Machine Learning</h3>
            <p>
              As our platform consumes more data, it becomes extremely valuable to control room operators and managers. Every operator interaction, data point, alert, sensor value, and event helps train our custom algorithms and analytics engine to be more intelligent and automatically learn how your plant operates and thinks.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <img src="{{assets}}/img/circleicons/image.png"/>
          </div>
          <div class="col-md-8">
            <h3>Visualizations</h3>
            <p>
              Control room operators watch multiple screens and are constantly overloaded with information. Our real-time visualizations and graphs help operators make better and faster decisions by presenting complex data in simple visualizations.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
