
<!-- Intro Section -->
  {{!--
  <img src="{{assets}}/img/Offshore_platform_Cropped.jpg"></img>
  --}}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="top-header">
          <br/>
          <h2> Prevent Unplanned Downtime</h2>
          <p class="text-center" style="font-size: 1.2em;">Predictive analytics for your offshore and onshore processing facilities</p>
        </div>

      </div>
    </div>
  </div>
